<!DOCTYPE html>

<html lang="en">

<head>
    <%- include ../partials/header.ejs%>

<body>
        <section class="candidates-details section4">
            <div class="jp_tittle_slider_main_wrapper" style="float:left; width:100%; margin-top:30px;">
                <div class="container">
                    <div class="container" id="formUT">
                        <div class="sideber2">
                            <div class="widghet">
                                <form action="/new-form-applications&owerlink=<%=FormApplicant.IDUserCreate%>&urlform=<%=FormApplicant.UrlForm%>" name="apply-form" method="post"
                                    enctype="multipart/form-data" onsubmit="return validateForm()" required>
                                    <div class="row">
                                        <div class="clo-md-12">
                                            <div class="col-md-12">
                                                <h1 id="titleDonungtuyen" style="text-align: center;"><b><%=FormApplicant.TitleForm%></b></h1>
                                                <div>
                                                    <div class="col-md-12">
                                                        <img id="logogalaxy" class="image_ungvien"
                                                            src="image/<%=FormApplicant.LogoForm.url%>" />
                                                        <div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                                <div style="  margin-top: 10px;" id="thongtin"
                                                                    class="sideber2">
                                                                    <div class="widghet">
                                                                        <h3><b>Thông tin</b></h3>
                                                                        <div class="contact-form">

                                                                            <div class="picture-container">
                                                                                <div class="picture">
                                                                                    <input type="file" name="fileUT"
                                                                                        id="fileUT" accept="*.jpg,*.png"
                                                                                        class="valid" />
                                                                                    <img src="https://img.icons8.com/bubbles/10000/000000/user-male.png"
                                                                                        class="picture-src"
                                                                                        name="AvataUT"
                                                                                        id="wizardPicturePreview" />

                                                                                </div>
                                                                                <h6>Chọn Ảnh Cá Nhân</h6>
                                                                            </div>
                                                                            <div class="input-container">
                                                                                <fieldset><input class="inputtest"
                                                                                        id="NameUT" name="NameUT"
                                                                                        type="text"></fieldset>
                                                                                <label for="NameUT">Họ và Tên</label>
                                                                            </div>

                                                                            <div class="input-container">
                                                                                <div class="row">
                                                                                    <div id="gioitinhs"
                                                                                        class="col-sm-6">

                                                                                        <select id="Gioitinh"
                                                                                            name="Gioitinh"
                                                                                            class="form-control">
                                                                                            <option value="Nam">Nam
                                                                                            </option>
                                                                                            <option value="Nữ">Nữ
                                                                                            </option>
                                                                                            <option value="Nữ">Khác
                                                                                            </option>
                                                                                        </select>
                                                                                        <label for="Gioitinh">Giới
                                                                                            tính</label>

                                                                                    </div>
                                                                                    <div id="honnhans" class="col-sm-6">
                                                                                        <select id="Honnhan"
                                                                                            name="Honnhan"
                                                                                            class="form-control">
                                                                                            <option value="Độc Thân">Độc
                                                                                                thân</option>
                                                                                            <option
                                                                                                value="Đã có gia đình">
                                                                                                Đã có gia đình</option>
                                                                                            <option value="Đã ly dị">Đã
                                                                                                ly dị</option>
                                                                                        </select>
                                                                                        <label for="Honnhan">Hôn
                                                                                            nhân</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="input-container">

                                                                                <fieldset><input class="inputtest"
                                                                                        id="Ngaysinh" name="Ngaysinh"
                                                                                        type="date"></fieldset>
                                                                                <label for="Ngaysinh">Ngày sinh</label>
                                                                            </div>

                                                                            <div class="input-container">
                                                                                <select id="Quequan" name="Quequan"
                                                                                    class="form-control">
                                                                                    <option value="">Quê Quán
                                                                                    <option value="TP.HCM">TP. Hồ Chí
                                                                                        Minh
                                                                                    <option value="Hà Nội">Hà Nội
                                                                                    <option value="An Giang">An Giang
                                                                                    <option value="Bà Rịa - Vũng Tàu">Bà
                                                                                        Rịa - Vũng Tàu
                                                                                    <option value="Bắc Giang">Bắc Giang
                                                                                    <option value="Bắc Kạn">Bắc Kạn
                                                                                    <option value="Bạc Liêu">Bạc Liêu
                                                                                    <option value="Bắc Ninh">Bắc Ninh
                                                                                    <option value="Bến Tre">Bến Tre
                                                                                    <option value="Bình Định">Bình Định
                                                                                    <option value="Bình Dương">Bình
                                                                                        Dương
                                                                                    <option value="Bình Phước">Bình
                                                                                        Phước
                                                                                    <option value="Bình Thuận">Bình
                                                                                        Thuận
                                                                                    <option value="Bình Thuận">Bình
                                                                                        Thuận
                                                                                    <option value="Cà Mau">Cà Mau
                                                                                    <option value="Cao Bằng">Cao Bằng
                                                                                    <option value="Đắk Lắk">Đắk Lắk
                                                                                    <option value="Đắk Nông">Đắk Nông
                                                                                    <option value="Điện Biên">Điện Biên
                                                                                    <option value="Đồng Nai">Đồng Nai
                                                                                    <option value="Đồng Tháp">Đồng Tháp
                                                                                    <option value="Đồng Tháp">Đồng Tháp
                                                                                    <option value="Gia Lai">Gia Lai
                                                                                    <option value="Hà Giang">Hà Giang
                                                                                    <option value="Hà Nam">Hà Nam
                                                                                    <option value="Hà Tĩnh">Hà Tĩnh
                                                                                    <option value="Hải Dương">Hải Dương
                                                                                    <option value="Hậu Giang">Hậu Giang
                                                                                    <option value="Hòa Bình">Hòa Bình
                                                                                    <option value="Hưng Yên">Hưng Yên
                                                                                    <option value="Khánh Hòa">Khánh Hòa
                                                                                    <option value="Kiên Giang">Kiên
                                                                                        Giang
                                                                                    <option value="Kon Tum">Kon Tum
                                                                                    <option value="Lai Châu">Lai Châu
                                                                                    <option value="Lâm Đồng">Lâm Đồng
                                                                                    <option value="Lạng Sơn">Lạng Sơn
                                                                                    <option value="Lào Cai">Lào Cai
                                                                                    <option value="Long An">Long An
                                                                                    <option value="Nam Định">Nam Định
                                                                                    <option value="Nghệ An">Nghệ An
                                                                                    <option value="Ninh Bình">Ninh Bình
                                                                                    <option value="Ninh Thuận">Ninh
                                                                                        Thuận
                                                                                    <option value="Phú Thọ">Phú Thọ
                                                                                    <option value="Quảng Bình">Quảng
                                                                                        Bình
                                                                                    <option value="Quảng Bình">Quảng
                                                                                        Bình
                                                                                    <option value="Quảng Ngãi">Quảng
                                                                                        Ngãi
                                                                                    <option value="Quảng Ninh">Quảng
                                                                                        Ninh
                                                                                    <option value="Quảng Trị">Quảng Trị
                                                                                    <option value="Sóc Trăng">Sóc Trăng
                                                                                    <option value="Sơn La">Sơn La
                                                                                    <option value="Tây Ninh">Tây Ninh
                                                                                    <option value="Thái Bình">Thái Bình
                                                                                    <option value="Thái Nguyên">Thái
                                                                                        Nguyên
                                                                                    <option value="Thanh Hóa">Thanh Hóa
                                                                                    <option value="Thừa Thiên Huế">Thừa
                                                                                        Thiên Huế
                                                                                    <option value="Tiền Giang">Tiền
                                                                                        Giang
                                                                                    <option value="Trà Vinh">Trà Vinh
                                                                                    <option value="Tuyên Quang">Tuyên
                                                                                        Quang
                                                                                    <option value="Vĩnh Long">Vĩnh Long
                                                                                    <option value="Vĩnh Phúc">Vĩnh Phúc
                                                                                    <option value="Yên Bái">Yên Bái
                                                                                    <option value="Phú Yên">Phú Yên
                                                                                    <option value="Tp.Cần Thơ">Tp.Cần
                                                                                        Thơ
                                                                                    <option value="Tp.Đà Nẵng">Tp.Đà
                                                                                        Nẵng
                                                                                    <option value="Tp.Hải Phòng">Tp.Hải
                                                                                        Phòng

                                                                                </select>
                                                                                <label for="Quequan">Quê Quán</label>
                                                                            </div>
                                                                            <div class="input-container">
                                                                                <select id="Noisinh" name="Noisinh"
                                                                                    class="form-control">
                                                                                    <option value="">Nơi sinh
                                                                                    <option value="TP.HCM">TP. Hồ Chí
                                                                                        Minh
                                                                                    <option value="Hà Nội">Hà Nội
                                                                                    <option value="An Giang">An Giang
                                                                                    <option value="Bà Rịa - Vũng Tàu">Bà
                                                                                        Rịa - Vũng Tàu
                                                                                    <option value="Bắc Giang">Bắc Giang
                                                                                    <option value="Bắc Kạn">Bắc Kạn
                                                                                    <option value="Bạc Liêu">Bạc Liêu
                                                                                    <option value="Bắc Ninh">Bắc Ninh
                                                                                    <option value="Bến Tre">Bến Tre
                                                                                    <option value="Bình Định">Bình Định
                                                                                    <option value="Bình Dương">Bình
                                                                                        Dương
                                                                                    <option value="Bình Phước">Bình
                                                                                        Phước
                                                                                    <option value="Bình Thuận">Bình
                                                                                        Thuận
                                                                                    <option value="Bình Thuận">Bình
                                                                                        Thuận
                                                                                    <option value="Cà Mau">Cà Mau
                                                                                    <option value="Cao Bằng">Cao Bằng
                                                                                    <option value="Đắk Lắk">Đắk Lắk
                                                                                    <option value="Đắk Nông">Đắk Nông
                                                                                    <option value="Điện Biên">Điện Biên
                                                                                    <option value="Đồng Nai">Đồng Nai
                                                                                    <option value="Đồng Tháp">Đồng Tháp
                                                                                    <option value="Đồng Tháp">Đồng Tháp
                                                                                    <option value="Gia Lai">Gia Lai
                                                                                    <option value="Hà Giang">Hà Giang
                                                                                    <option value="Hà Nam">Hà Nam
                                                                                    <option value="Hà Tĩnh">Hà Tĩnh
                                                                                    <option value="Hải Dương">Hải Dương
                                                                                    <option value="Hậu Giang">Hậu Giang
                                                                                    <option value="Hòa Bình">Hòa Bình
                                                                                    <option value="Hưng Yên">Hưng Yên
                                                                                    <option value="Khánh Hòa">Khánh Hòa
                                                                                    <option value="Kiên Giang">Kiên
                                                                                        Giang
                                                                                    <option value="Kon Tum">Kon Tum
                                                                                    <option value="Lai Châu">Lai Châu
                                                                                    <option value="Lâm Đồng">Lâm Đồng
                                                                                    <option value="Lạng Sơn">Lạng Sơn
                                                                                    <option value="Lào Cai">Lào Cai
                                                                                    <option value="Long An">Long An
                                                                                    <option value="Nam Định">Nam Định
                                                                                    <option value="Nghệ An">Nghệ An
                                                                                    <option value="Ninh Bình">Ninh Bình
                                                                                    <option value="Ninh Thuận">Ninh
                                                                                        Thuận
                                                                                    <option value="Phú Thọ">Phú Thọ
                                                                                    <option value="Quảng Bình">Quảng
                                                                                        Bình
                                                                                    <option value="Quảng Bình">Quảng
                                                                                        Bình
                                                                                    <option value="Quảng Ngãi">Quảng
                                                                                        Ngãi
                                                                                    <option value="Quảng Ninh">Quảng
                                                                                        Ninh
                                                                                    <option value="Quảng Trị">Quảng Trị
                                                                                    <option value="Sóc Trăng">Sóc Trăng
                                                                                    <option value="Sơn La">Sơn La
                                                                                    <option value="Tây Ninh">Tây Ninh
                                                                                    <option value="Thái Bình">Thái Bình
                                                                                    <option value="Thái Nguyên">Thái
                                                                                        Nguyên
                                                                                    <option value="Thanh Hóa">Thanh Hóa
                                                                                    <option value="Thừa Thiên Huế">Thừa
                                                                                        Thiên Huế
                                                                                    <option value="Tiền Giang">Tiền
                                                                                        Giang
                                                                                    <option value="Trà Vinh">Trà Vinh
                                                                                    <option value="Tuyên Quang">Tuyên
                                                                                        Quang
                                                                                    <option value="Vĩnh Long">Vĩnh Long
                                                                                    <option value="Vĩnh Phúc">Vĩnh Phúc
                                                                                    <option value="Yên Bái">Yên Bái
                                                                                    <option value="Phú Yên">Phú Yên
                                                                                    <option value="Tp.Cần Thơ">Tp.Cần
                                                                                        Thơ
                                                                                    <option value="Tp.Đà Nẵng">Tp.Đà
                                                                                        Nẵng
                                                                                    <option value="Tp.Hải Phòng">Tp.Hải
                                                                                        Phòng

                                                                                </select>

                                                                                <label for="Noisinh">Nơi sinh</label>
                                                                            </div>
                                                                            <div class="input-container">
                                                                                <fieldset><input class="inputtest"
                                                                                        id="CMND" name="CMND"
                                                                                        type="number"></fieldset>
                                                                                <label for="CMND">Số CMND/ CCCD </label>
                                                                            </div>
                                                                            <div class="input-container">
                                                                                <fieldset><input class="inputtest"
                                                                                        id="NCCMND" name="NCCMND"
                                                                                        type="text"></fieldset>
                                                                                <label for="NCCMND">Nơi cấp Số CMND/
                                                                                    CCCD </label>
                                                                            </div>
                                                                            <div class="input-container">
                                                                                <fieldset><input class="inputtest"
                                                                                        id="NgayCCMND" name="NgayCCMND"
                                                                                        type="date"></fieldset>
                                                                                <label for="NgayCCMND">Ngày cấp Số CMND/
                                                                                    CCCD </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="widghet">
                                                                        <h3>Liên Hệ</h3>
                                                                        <div class="input-container">
                                                                            <fieldset><input class="inputtest"
                                                                                    id="EmailUT" name="EmailUT"
                                                                                    type="email"></fieldset>
                                                                            <label for="EmailUT">Email</label>
                                                                        </div>
                                                                        <div class="input-container">
                                                                            <fieldset><input class="inputtest"
                                                                                    id="PhoneUT" name="PhoneUT"
                                                                                    type="text"></fieldset>
                                                                            <label for="PhoneUT">Số điện thoại</label>

                                                                        </div>
                                                                        <div class="contact-form">
                                                                            <div class="input-container">
                                                                                <fieldset><input class="inputtest"
                                                                                        id="DCTT" name="DCTT"
                                                                                        type="text"></fieldset>
                                                                                <label for="DCTT">Địa chỉ thường
                                                                                    trú</label>
                                                                            </div>
                                                                            <div class="input-container">
                                                                                <fieldset><input class="inputtest"
                                                                                        id="DCLL" name="DCLL"
                                                                                        type="text"></fieldset>
                                                                                <label for="DCLL">Địa chỉ liên
                                                                                    lạc</label>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                                <div style="margin-top: 10px;" id="thongtin"
                                                                    class="sideber2">
                                                                    <div class="widghet">
                                                                        <div class="candidates-about">

                                                                            <h3><b>Hỏi/Đáp</b></h3>
                                                                            <div style="margin-top: 30px;" class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="con">
                                                                                        <h4 style="font-size:13px">Bạn
                                                                                            muôn ứng tuyển vị trí nào?
                                                                                        </h4>
                                                                                        <select id="vitriungtuyen"
                                                                                            name="vitriungtuyen"
                                                                                            class="form-control">
                                                                                            <%resultTinDang.forEach(function(item){%>
                                                                                                <option
                                                                                                    value="<%=item.NameJob%>">
                                                                                                    <%=item.NameJob%>
                                                                                                </option>
                                                                                                <%})%>
                                                                                        </select>
                                                                                        <label for="vitriungtuyen">Công
                                                                                            việc bạn đang mong
                                                                                            muốn</label>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-md-6">

                                                                                    <div class="con">
                                                                                        <h4 style="font-size:13px">Loại Hình Công Việc</h4>
                                                                                        <select class="form-control"
                                                                                            id="BMLV" name="BMLV">
                                                                                            <%typejob.forEach(function(item){%>
                                                                                            <option value="<%=item.titleType%>"><%=item.titleType%></option>
                                                                                                <%})%>
                                                                                        </select>
                                                                                        <label for="BMLV">Địa chỉ thuận
                                                                                            tiện cho bạn khi làm
                                                                                            việc.</label>

                                                                                    </div>

                                                                                </div>


                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-6">

                                                                                    <h4 style="font-size:13px"><b>Bạn biết thông tin tuyển dụng từ đâu?</b>
                                                                                    </h4>
                                                                                    <div class="input-container">
                                                                                        <fieldset><input
                                                                                                readonly
                                                                                                value="<%=FormApplicant.Source%>"
                                                                                                class="inputtest"
                                                                                                id="Gioithieu"
                                                                                                name="Gioithieu"
                                                                                                type="text" />
                                                                                        </fieldset>
                                                                                        <label for="Gioithieu">Bạn biết
                                                                                            thông tin tuyển dụng từ đâu
                                                                                            ?</label>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-md-6">

                                                                                    <h4 style="font-size:13px">Bạn có bị
                                                                                        nợ xấu hay không ?</h4>

                                                                                    <div class="input-container">
                                                                                        <select id="Noxau" name="Noxau"
                                                                                            class="form-control">
                                                                                            <option value="Có">Có
                                                                                            </option>
                                                                                            <option value="Không">Không
                                                                                            </option>

                                                                                        </select>
                                                                                        <label for="Noxau">Bản thân hoặc
                                                                                            người nhà có nợ xấu</label>
                                                                                    </div>

                                                                                </div>

                                                                            </div>
                                                                            <br>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <h3><b>Học Vấn</b></h3>
                                                                                    <div class="educations">

                                                                                        <div class="row">
                                                                                            <div class="col-sm-2">
                                                                                               <img style="width: 100px;height: 100px;border-radius: 10px;"
                                                                                                     src="https://img.icons8.com/bubbles/1000/000000/student-male.png"/>
                                                                                              
                                                                                            </div>

                                                                                            <div class="col-sm-10">
                                                                                                <label for="hoctap">Quà
                                                                                                    trình học tập <br>
                                                                                                    <li> ( VD : TỪ 2015
                                                                                                        ĐẾN 2019 | ĐẠI
                                                                                                        HỌC : NÔNG
                                                                                                        NGHIỆP TPHCM |
                                                                                                        TỐT NGHIỆP LOẠI:
                                                                                                        KHÁ | CHUYÊN
                                                                                                        NGÀNH : THÚ Y)
                                                                                                    </li>
                                                                                                </label>

                                                                                                <div class="paper">
                                                                                                    <div
                                                                                                        class="paper-content">
                                                                                                        <textarea
                                                                                                            id="hoctap"
                                                                                                            name="hoctap"
                                                                                                            rows="5"
                                                                                                            class="notes"></textarea>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div style="margin-top: 20px;"
                                                                                    class="col-md-12">
                                                                                    <h3><b>Kinh Nghiệm Làm Việc</b></h3>
                                                                                    <div class="educations">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-2">
                                                                                                <img style="width: 100px;height: 100px;border-radius: 10px;"
                                                                                                    src="https://img.icons8.com/bubbles/1000/000000/online-support.png"/>
                                                                                              
                                                                                            </div>
                                                                                            <div class="col-sm-10">
                                                                                                <label
                                                                                                    for="Kinhnghiem">Kinh Nghiệm Làm Việc</label> <br>
                                                                                                    <li> ( VD : TỪ 2015
                                                                                                        ĐẾN 2019 | CÔNG
                                                                                                        TY :TNHH QA | VỊ
                                                                                                        TRÍ : NHÂN VIÊN)
                                                                                                    </li>
                                                                                                </label>

                                                                                                <div class="paper">
                                                                                                    <div
                                                                                                        class="paper-content">
                                                                                                        <textarea
                                                                                                            id="Kinhnghiem"
                                                                                                            name="Kinhnghiem"
                                                                                                            rows="5"
                                                                                                            class="notes"></textarea>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div style="margin-top: 20px;" class="col-md-12">
                                                                                    <h3><b>Quan hệ gia đình</b></h3>
                                                                                    <div class="educations">
                                                                                        <div class="input-container">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-2">
                                                                                                   <img style="width: 100px;height: 100px;border-radius: 10px;"
                                                                                                            src="https://img.icons8.com/bubbles/1000/000000/family.png" />
                                                                                                    
                                                                                                </div>
                                                                                                <div class="col-sm-10">
                                                                                                    <div class="paper">
                                                                                                        <label
                                                                                                            for="Giadinh">Thông
                                                                                                            tin gia đình
                                                                                                            của bạn<br>
                                                                                                            <li> ( VD :
                                                                                                                Họ và
                                                                                                                Tên : Lê
                                                                                                                Văn
                                                                                                                A-1977 |
                                                                                                                Nghề
                                                                                                                Nghiệp:
                                                                                                                Nông Dân
                                                                                                                |Quan hệ
                                                                                                                : Cha)
                                                                                                            </li>
                                                                                                        </label>

                                                                                                        <div
                                                                                                            class="paper-content">
                                                                                                            <textarea
                                                                                                                id="Giadinh"
                                                                                                                name="Giadinh"
                                                                                                                rows="5"
                                                                                                                class="notes"></textarea>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div style="margin-top: 10px;" class="row">
                                                                                <div class="col-md-12">
                                                                                    <h3><b>File CV( Nếu có )</b></h3>
                                                                                    <div class="educations">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-2">
                                                                                            <img style="width: 100px;height: 100px;" src="https://img.icons8.com/bubbles/1000/000000/resume.png" />
                                                                                        </div>

                                                                                        <div class="col-sm-10">
                                                                                            <div style="margin-top:25px" class="input-group">
                                                                                                <span class="input-group-btn">
                                                                                                  <div class="btn btn-default browse-button">
                                                                                                      <span class="browse-button-text">
                                                                                                      <i class="fa fa-folder-open"></i>Chọn File</span>
                                                                                                      <input style="position: absolute;
                                                                                                      top: 0;
                                                                                                      right: 0;
                                                                                                      margin: 0;
                                                                                                      padding: 0;
                                                                                                      font-size: 20px;
                                                                                                      cursor: pointer;
                                                                                                      opacity: 0;
                                                                                                      filter: alpha(opacity=0);" type="file" accept=".pdf,image/jpeg,image/png,image/jpg"  name="fileCV"/>
                                                                                                  </div>
                                                                                                  <button type="button" class="btn btn-default clear-button" style="display:none;">
                                                                                                    <span class="fa fa-times"></span> Xoá
                                                                                                  </button>
                                                                                                </span>
                                                                                                
                                                                                                
                                                                                                <input type="text" class="form-control filename" disabled="disabled" accept="pdf" placeholder="Đính kèm file CV (File PDF hoặc hình ảnh )">
                                                                                               
                                                                                            </div>
                                                                                        </div>
                                                                                    
                                                                                </div>
                                                                               </div>
                                                                            </div>
                                                                            </div>
                                                                            <div style="margin-top: 20px;" class="row">
                                                                                <div class="col-md-12">
                                                                                    <h3><b><img style="width: 50px;height: 50px;" src="https://img.icons8.com/bubbles/1000/000000/elections.png"/> Cam kết Nghĩa vụ</b></h3>
                                                                            <h6>
                                                                                <li> Tôi cam kết đồng ý nếu công ty phát
                                                                                    hiện bạn có nợ xấu tại bất kì tổ
                                                                                    chức tín dụng nào thì công ty sẽ
                                                                                    chấm dứt hợp đồng công tác với bạn
                                                                                    ngay lập tức</li>
                                                                            </h6>
                                                                            <h6>
                                                                                <li> Tôi cam kết mọi thông tin trên đều
                                                                                    là sự thật , nếu sai tôi sẽ chịu
                                                                                    trách nhiệm trước nội quy công ty về
                                                                                    vấn đề phạt vi phạm </li>
                                                                            </h6>
                                                                            <h6>
                                                                                <li> Tôi cam kết sẽ tuân thủ theo quy
                                                                                    định của công ty </li>
                                                                            </h6>
                                                                            <h3><b><img style="width: 50px;height: 50px;" src="https://img.icons8.com/bubbles/1000/000000/alarm.png"/>Lưu ý</b></h3>
                                                                            <h6>
                                                                                <li>Hồ sơ xin việc (CMND , Sơ yếu lý
                                                                                    lịch) của ứng viên ,Công ty sẽ không
                                                                                    hoàn trả lại , Những thông tin trên
                                                                                    sẽ được cậo nhật để tạo User,Thẻ
                                                                                    nhân viên , Ứng viên sẽ nhận được
                                                                                    thông báo về :Quy trình làm việc,
                                                                                    Quy trịnh công ty , Quy định tác
                                                                                    phong khi phỏng vấn </li>
                                                                            </h6>
                                                                                </div>
                                                                            </div>
                                                                            <br>
                                                                            <div id="btnFormSubmit" class="input-container">
                                                                                <input type="submit" class="btn1"
                                                                                    value=" Nộp Đơn Ứng Tuyển">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>


                                                    </div>
                                </form>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </section>
        <script>
            // Show filename, show clear button and change browse 
      //button text when a valid extension file is selected
      $(".browse-button input:file").change(function (){
      $("input[name='fileCV']").each(function() {
      var fileName = $(this).val().split('/').pop().split('\\').pop();
      $(".filename").val(fileName);
      $(".browse-button-text").html('<i class="fa fa-refresh"></i> Change');
      $(".clear-button").show();
      });
      });
      
      //actions happening when the button is clicked
      $('.clear-button').click(function(){
      $('.filename').val("");
      $('.clear-button').hide();
      $('.browse-button input:file').val("");
      $(".browse-button-text").html('<i class="fa fa-folder-open"></i> Browse'); 
      }); 
      </script>
        <%- include ../partials/footer.ejs%>
        <%- include ../partials/menu.ejs%>
         <script>function validateForm() {
            var Phone = document.forms["apply-form"]["PhoneUT"].value;
            var email = document.forms["apply-form"]["EmailUT"].value;
            var name = document.forms["apply-form"]["NameUT"].value;
            var CMND = document.forms["apply-form"]["CMND"].value;
            var hoctap = document.forms["apply-form"]["hoctap"].value;
            var Kinhnghiem = document.forms["apply-form"]["Kinhnghiem"].value;
            if (name == "" || name == null) {
                alert("Bạn chưa nhập Tên");
                return false;
            }
            if (email == "" || email == null) {
                alert("Bạn chưa nhập Email");
                return false;
            }
            if (Phone == "" || Phone == null) {
                alert("Bạn chưa nhập số điện thoại");
                return false;
            }
            if (CMND == "" || CMND == null) {
                alert("Bạn chưa nhập số CMND/CCCD");
                return false;
            }
            if (Kinhnghiem == "" || Kinhnghiem == null) {
                alert("Bạn chưa nhập kinh nghiệm làm việc ( chưa có kinh nghiệm nhập chưa có kinh nghiệm )");
                return false;
            }
            if (hoctap == "" || hoctap == null) {
                alert("Bạn chưa nhập thông tin Bằng cấp/Chứng chỉ/ Quá trình học tập");
                return false;
            }
      
        }
      </script>
</body>

</html>