<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="VIỆC LÀM VĂN PHÒNG">
    <meta name="keywords" content="au theme template">
    <!-- Title Page-->
    <title>GALAXYDR ISO 9001:2015</title>
    <!-- Fontfaces CSS-->
    <link rel="shortcut icon" type="image/x-icon" href="https://tuyendung.me/galaxydr-logo.jpg">
    <link rel="apple-touch-icon" href="https://tuyendung.me/galaxydr-logo.jpg">
    <link href="https://admin.tuyendung.me/iso9001/Admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet"
        media="all">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet"
        media="all">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/mdi-font/css/material-design-iconic-font.min.css"
        rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap CSS-->
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
        rel="stylesheet" media="all">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet"
        media="all">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet"
        media="all">
    <link rel="stylesheet" href="https://admin.tuyendung.me/iso9001/css/flaticon.css">
    <link href="https://admin.tuyendung.me/iso9001/Admin/css/theme.css" rel="stylesheet" media="all">
    <link href="/iso/iso.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body style="width: 95%;">
    <div id="loader-wrapper">
        <div id="page">
            <div id="phrase_box">
                <svg width="100%" height="100%">
                    <defs>
                        <style type="text/css">
                            @font-face {
                                font-family: "Proxima";
                                src: url('');
                            }
                        </style>
                        <mask id="mask" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse">
                            <linearGradient id="linearGradient" gradientUnits="objectBoundingBox" x2="0" y2="1">
                                <stop stop-color="white" stop-opacity="0" offset="0%" />
                                <stop stop-color="white" stop-opacity="1" offset="30%" />
                                <stop stop-color="white" stop-opacity="1" offset="70%" />
                                <stop stop-color="white" stop-opacity="0" offset="100%" />
                            </linearGradient>
                            <rect width="100%" height="100%" fill="url(#linearGradient)" />
                        </mask>
                    </defs>
                    <g width="100%" height="100%" style="mask: url(#mask);">
                        <g id="phrases"></g>
                    </g>
                </svg>
            </div>
            <div id="ighex">
                <div class="preloader loading">
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div style="background-color:#fff ;" class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="default-tab">
                        <div style="border:none" class="card">
                            <div style="border-bottom: 2px solid gray;" class="card-header">
                                <h4>GALAXYDR-ỨNG VIÊN ỨNG TUYỂN</h4>
                            </div>

                            
                                    <div class="row">
                                       
                                        <div style="margin-top: 10px;" class="col-md-12">
                                            <div id="tabledata" class="sideber2">
                                                <div class="widghet">
                                                    <div style="text-align: center;height: 50px;" id="notication" class="col-md-12">
                                                     
                                                    </div>
                                                    <div class="table-responsive table-data">
                                                        <table class="table">
                                                            <thead>
                                                                <tr style="text-align: center;">
                                                                    <th style="width: 250px">Ứng Viên</th>
                                                                    <th>Thông tin</th>
                                                                    <th>Note</th>
                                                                    <th>File</th>
                                                                    <th>Setting</th>
                                                                </tr>
                                                            </thead>
                                                            <style>
                                                                .table-data .table td {
                                                            padding-top: 1px;
                                                            padding-bottom: 1px;
                                                            padding-left: 5px;
                                                            padding-right: 1px;
                                                            border-top: none;
                                                            
                                                        }
                                                                

                                                                input {
                                                                    height: inherit;
                                                                    width: 100%;
                                                                    border-radius: 5px;
                                                                    border: 1px solid gray;
                                                                }
                                                            </style>
                                                            <%result.forEach(function(item,index){%>

                                                                <tbody id="table<%=item._id%>">
                                                                    <tr style="text-align: center;">
                                                                        <td
                                                                            style="font-weight: 600;vertical-align: middle">
                                                                            <%if(!item.info_file.Name_UngVien){%>
                                                                            <input type="text" style="height: 100px;border: none;"
                                                                                id="Name_UngVien_<%=item._id%>"
                                                                                name="Name_UngVien"
                                                                                placeholder="<%=item.result.file_path%>"/>
                                                                            <%}else{%>
                                                                                <input type="text" style="height: 100px;border: none;"
                                                                                id="Name_UngVien_<%=item._id%>"
                                                                                name="Name_UngVien"
                                                                                value="<%=item.info_file.Name_UngVien%>"/>
                                                                            <%}%>
                                                                           
                                                                        </td>
                                                                        <td
                                                                            style="font-weight: 600;vertical-align: middle">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                Liên Hệ<input type="text" id="Phone_<%=item._id%>"
                                                                                name="Phone" value="<%=item.info_file.Phone%>"
                                                                                placeholder="Số Điện Thoại" />
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                   Email<input type="text" placeholder="Email"
                                                                                    id="Email_<%=item._id%>" name="Email"  value="<%=item.info_file.Email%>"/>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </td>
                                                                        <td
                                                                        style="font-weight: 600;vertical-align: middle">
                                                                        <textarea style="border: 1px solid gray;border-radius:5px;" id="note<%=item._id%>" name="note" value="<%=item.info_file.Note%>"/><%=item.info_file.Note%></textarea>
                                                                    </td>
                                                                        <td><img style="vertical-align: middle;padding-left: 1px;width:50%"
                                                                                data-toggle="modal"
                                                                                data-target="#Review_ttuv_form"
                                                                                onclick="get_ttuv_form('<%=item._id%>')"
                                                                                src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/300/0000000/external-file-multimedia-kiranshastry-lineal-color-kiranshastry-3.png" />
                                                                        </td>
  
                                                                        <td>
                                                                            <div  class="row">
                                                                               
                                                                                <div class="col-md-12">
                                                                                    <button style="width: 40px;height:40px"  type="button"
                                                                                     onclick="save_info('<%=item._id%>')"   
                                                                                        ><img src="https://img.icons8.com/bubbles/350/000000/save-close.png"/>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <button  style="width: 40px;height:40px" type="button" onclick="delete_info_('<%=item._id%>')" 
                                                                                        
                                                                                       ><img src="https://img.icons8.com/bubbles/350/000000/delete-forever.png"/></button>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <button  style="width: 40px;height:40px" type="button" onclick="share_info_('<%=item._id%>')"
                                                                                        ><img  src="https://img.icons8.com/bubbles/350/000000/link.png"/></button>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>

                                                                <%})%>
                                                                    <script>
                                                                        $("#search").on("keyup", function () {
                                                                            var value = $(this).val().toLowerCase();
                                                                            $("#table tr").filter(function () {
                                                                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                                            });
                                                                        });
                                                                    </script>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        </br>
                                    </div>

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Review_ttuv_form" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body text-center" id="bodyCV">

                </div>
                <div id="footer" class="modal-footer">

                </div>
            </div>

        </div>
    </div>


    <script>
        
        function save_info(id){
          var Name =  $(`#Name_UngVien_${id}`).val()
          var Phone =  $(`#Phone_${id}`).val()
          var Email =  $(`#Email_${id}`).val()
          var note =  $(`#note${id}`).val()
        
          get_save_info(id,Name,Phone,Email,note)
        };
        function delete_info_(id){
         
          $(`#table${id}`).hide()
          get_delete_info(id,Name,Phone,Email)
        };
        function get_save_info(id,Name,Phone,Email,note){
        var urlString = `https://tuyendung.me/update_cv_id=${id}&Name=${Name}&Phone=${Phone}&Email=${Email}&note=${note}`;
        fetch(urlString)
        .then(function(response) {
            return response.json();
        })
        .then(function(json) {
            console.log(json);
            if(json.result == "Done"){
                $("#notication").html(`<img style="height:50px;width:50px"  src="https://img.icons8.com/bubbles/100/000000/save-close.png"/>`)
                $("#notication").hide(4000)
            }
            if(json.result == "err"){
                $("#notication").html("<h4>Lỗi xác thực</h4>") 
                $("#notication").hide(4000)
            }
        });
        }
        function get_delete_info(id,Name,Phone,Email){
        var urlString = `https://tuyendung.me/delete_cv_id=${id}`;
        fetch(urlString)
        .then(function(response) {
            return response.json();
        })
        .then(function(json) {
            console.log(json);
            if(json.result == "Done"){
                $("#notication").html(`<img style="height:50px;width:50px" src="https://img.icons8.com/bubbles/100/000000/save-close.png"/>`)
                $("#notication").hide(4000)
              
            }if(json.result == "err"){
                $("#notication").html("<h4>Lỗi xác thực</h4>") 
                $("#notication").hide(4000)
            }
        });
        }
        function get_ttuv_form(result) {
            $("#bodyCV").html(`<iframe style="background-size: contain;background-image: url('https://tuyendung.me/loading2.gif')" width="100%" height="600" src="/galaxydr_ung_vien_ung_tuyen=${result}"></iframe>`)
            $("#footer").html(`<button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>`)
        }
        var checkmarkIdPrefix = "loadingCheckSVG-";
        var checkmarkCircleIdPrefix = "loadingCheckCircleSVG-";
        var verticalSpacing = 50;

        function shuffleArray(array) {
            for (var i = array.length - 1; i > 0; i--) {
                var j = Math.floor(Math.random() * (i + 1));
                var temp = array[i];
                array[i] = array[j];
                array[j] = temp;
            }
            return array;
        }
        $(document).ready(function () {

            setTimeout(function () {
                $('body').addClass('loaded');

            }, 2000);

        });
        function createSVG(tag, properties, opt_children) {
            var newElement = document.createElementNS("http://www.w3.org/2000/svg", tag);
            for (prop in properties) {
                newElement.setAttribute(prop, properties[prop]);
            }
            if (opt_children) {
                opt_children.forEach(function (child) {
                    newElement.appendChild(child);
                })
            }
            return newElement;
        }

        function createPhraseSvg(phrase, yOffset) {
            var text = createSVG("text", {
                fill: "white",
                x: 50,
                y: yOffset,
                "font-size": 18,
                "font-family": "Arial"
            });
            text.appendChild(document.createTextNode(phrase + "..."));
            return text;
        }
        function createCheckSvg(yOffset, index) {
            var check = createSVG("polygon", {
                points: "21.661,7.643 13.396,19.328 9.429,15.361 7.075,17.714 13.745,24.384 24.345,9.708 ",
                fill: "rgba(255,255,255,1)",
                id: checkmarkIdPrefix + index
            });
            var circle_outline = createSVG("path", {
                d: "M16,0C7.163,0,0,7.163,0,16s7.163,16,16,16s16-7.163,16-16S24.837,0,16,0z M16,30C8.28,30,2,23.72,2,16C2,8.28,8.28,2,16,2 c7.72,0,14,6.28,14,14C30,23.72,23.72,30,16,30z",
                fill: "white"
            })
            var circle = createSVG("circle", {
                id: checkmarkCircleIdPrefix + index,
                fill: "rgba(255,255,255,0)",
                cx: 16,
                cy: 16,
                r: 15
            })
            var group = createSVG("g", {
                transform: "translate(10 " + (yOffset - 20) + ") scale(.9)"
            }, [circle, check, circle_outline]);
            return group;
        }

        function addPhrasesToDocument(phrases) {
            phrases.forEach(function (phrase, index) {
                var yOffset = 30 + verticalSpacing * index;
                document.getElementById("phrases").appendChild(createPhraseSvg(phrase, yOffset));
                document.getElementById("phrases").appendChild(createCheckSvg(yOffset, index));
            });
        }

        function easeInOut(t) {
            var period = 100;
            return (Math.sin(t / period + 100) + 1) / 2;
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            var phrases = shuffleArray(["Khởi tạo API", "Xác minh danh tính", "Xác minh dữ liệu", "Trích xuất dữ liệu"]);
            addPhrasesToDocument(phrases);
            var start_time = new Date().getTime();
            var upward_moving_group = document.getElementById("phrases");
            upward_moving_group.currentY = 0;
            var checks = phrases.map(function (_, i) {
                return { check: document.getElementById(checkmarkIdPrefix + i), circle: document.getElementById(checkmarkCircleIdPrefix + i) };
            });
            function animateLoading() {
                var now = new Date().getTime();
                upward_moving_group.setAttribute("transform", "translate(0 " + upward_moving_group.currentY + ")");
                upward_moving_group.currentY -= 1.35 * easeInOut(now);
                checks.forEach(function (check, i) {
                    var color_change_boundary = - i * verticalSpacing + verticalSpacing + 15;
                    if (upward_moving_group.currentY < color_change_boundary) {
                        var alpha = Math.max(Math.min(1 - (upward_moving_group.currentY - color_change_boundary + 15) / 30, 1), 0);
                        check.circle.setAttribute("fill", "rgba(255, 255, 255, " + alpha + ")");
                        var check_color = [Math.round(255 * (1 - alpha) + 120 * alpha), Math.round(255 * (1 - alpha) + 154 * alpha)];
                        check.check.setAttribute("fill", "rgba(255, " + check_color[0] + "," + check_color[1] + ", 1)");
                    }
                })
                if (now - start_time < 30000 && upward_moving_group.currentY > -710) {
                    requestAnimationFrame(animateLoading);
                }
            }
            //animateLoading();
        });


        $(document).ready(function () {
            $('.delete-confirm').each(function () {
                var $this = $(this);

                $('button.delete', $this).click(function () {
                    $(this).addClass('confirm');
                });

                $('button.no', $this).click(function () {
                    $('button.delete', $this).removeClass('confirm');
                });
            });
        });
    </script>

    <script>

        function create_custom_dropdowns() {
            $('select').each(function (i, select) {
                if (!$(this).next().hasClass('dropdown-select')) {
                    $(this).after('<div class="dropdown-select wide ' + ($(this).attr('class') || '') + '" tabindex="0"><span class="current"></span><div class="list"><ul></ul></div></div>');
                    var dropdown = $(this).next();
                    var options = $(select).find('option');
                    var selected = $(this).find('option:selected');
                    dropdown.find('.current').html(selected.data('display-text') || selected.text());
                    options.each(function (j, o) {
                        var display = $(o).data('display-text') || '';
                        dropdown.find('ul').append('<li class="option ' + ($(o).is(':selected') ? 'selected' : '') + '" data-value="' + $(o).val() + '" data-display-text="' + display + '">' + $(o).text() + '</li>');
                    });
                }
            });

            $('.dropdown-select ul').before('<div class="dd-search"><input id="txtSearchValue" autocomplete="off" onkeyup="filter()" class="dd-searchbox" type="text"/></div>');
        }

        // Event listeners

        // Open/close
        $(document).on('click', '.dropdown-select', function (event) {
            if ($(event.target).hasClass('dd-searchbox')) {
                return;
            }
            $('.dropdown-select').not($(this)).removeClass('open');
            $(this).toggleClass('open');
            if ($(this).hasClass('open')) {
                $(this).find('.option').attr('tabindex', 0);
                $(this).find('.selected').focus();
            } else {
                $(this).find('.option').removeAttr('tabindex');
                $(this).focus();
            }
        });

        // Close when clicking outside
        $(document).on('click', function (event) {
            if ($(event.target).closest('.dropdown-select').length === 0) {
                $('.dropdown-select').removeClass('open');
                $('.dropdown-select .option').removeAttr('tabindex');
            }
            event.stopPropagation();
        });

        function filter() {
            var valThis = $('#txtSearchValue').val();
            $('.dropdown-select ul > li').each(function () {
                var text = $(this).text();
                (text.toLowerCase().indexOf(valThis.toLowerCase()) > -1) ? $(this).show() : $(this).hide();
            });
        };
        // Search

        // Option click
        $(document).on('click', '.dropdown-select .option', function (event) {
            $(this).closest('.list').find('.selected').removeClass('selected');
            $(this).addClass('selected');
            var text = $(this).data('display-text') || $(this).text();
            $(this).closest('.dropdown-select').find('.current').text(text);
            $(this).closest('.dropdown-select').prev('select').val($(this).data('value')).trigger('change');
        });

        // Keyboard events
        $(document).on('keydown', '.dropdown-select', function (event) {
            var focused_option = $($(this).find('.list .option:focus')[0] || $(this).find('.list .option.selected')[0]);
            // Space or Enter
            //if (event.keyCode == 32 || event.keyCode == 13) {
            if (event.keyCode == 13) {
                if ($(this).hasClass('open')) {
                    focused_option.trigger('click');
                } else {
                    $(this).trigger('click');
                }
                return false;
                // Down
            } else if (event.keyCode == 40) {
                if (!$(this).hasClass('open')) {
                    $(this).trigger('click');
                } else {
                    focused_option.next().focus();
                }
                return false;
                // Up
            } else if (event.keyCode == 38) {
                if (!$(this).hasClass('open')) {
                    $(this).trigger('click');
                } else {
                    var focused_option = $($(this).find('.list .option:focus')[0] || $(this).find('.list .option.selected')[0]);
                    focused_option.prev().focus();
                }
                return false;
                // Esc
            } else if (event.keyCode == 27) {
                if ($(this).hasClass('open')) {
                    $(this).trigger('click');
                }
                return false;
            }
        });

        $(document).ready(function () {
            create_custom_dropdowns();
        });
    </script>
    <!-- Jquery JS-->
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/slick/slick.min.js">
    </script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/wow/wow.min.js"></script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/animsition/animsition.min.js"></script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="https://admin.tuyendung.me/iso9001/Admin/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="https://admin.tuyendung.me/iso9001/Admin/js/main.js"></script>
</body>

</html>