<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/iso/iso.css" rel="stylesheet">
    <title>GALAXYDR ISO 9001:2015</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://https://tuyendung.me/galaxydr-logo.jpg">
    <link rel="apple-touch-icon" href="https://https://tuyendung.me/galaxydr-logo.jpg">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div style="margin-top: 10px;font-size: 20px;height:100%;" id="thongtin" class="sideber2">
            <div id='DivIdToPrint' class="widghet">
                <table
                    style="width: 95%; margin-left: calc(2%); border-collapse: collapse; border: none; margin-right: calc(3%);">
                    <tbody>
                        <tr>
                            <td rowspan="4"
                                style="width:103.5pt;border:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <img width="93"
                                        src="https://galaxydr.com.vn/storage/logo/logo.png"
                                        alt="Description: logo"></p>
                            </td>
                            <td rowspan="4"
                                style="width: 46.9095%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <strong><span style='font-family:"Cambria",serif;'>C&Ocirc;NG TY TNHH DV GALAXY
                                            DR&nbsp;</span></strong></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style='font-size:13px;font-family:"Cambria",serif;'>TM01, PVL Linh T&acirc;y,
                                        Số 5, Đường D1, Phường Linh T&acirc;y, Th&agrave;nh phố Thủ Đức, TPHCM</span>
                                </p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style='font-size:13px;font-family:"Cambria",serif;'>Điện thoại: &nbsp;028
                                        73055 995</span></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style='font-size:13px;font-family:"Cambria",serif;'>Website:</span><span
                                        style="font-size:15px;">&nbsp;</span><span
                                        style='font-size:13px;font-family:"Cambria",serif;'>www.galaxydr.com.vn</span>
                                </p>
                            </td>
                            <td
                                style="width:86.4pt;border-top:double windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    Trang</p>
                            </td>
                            <td
                                style="width: 19.7026%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    1/1</p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:13px;">Lần ban h&agrave;nh</span></p>
                            </td>
                            <td
                                style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:15px;">01</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:13px;">Ng&agrave;y ban h&agrave;nh</span></p>
                            </td>
                            <td
                                style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:15px;">20/01/2021</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:86.4pt;border-top:none;border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:13px;">Số hiệu</span></p>
                            </td>
                            <td
                                style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    BM - QT08-02</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;line-height:150%;'>
                    <strong><span style="font-size:24px;line-height:150%;">PHIẾU Đ&Aacute;NH GI&Aacute; PHỎNG
                            VẤN</span></strong></p>
                <div class="row">
                    <div class="col-md-12">
                        <p>Họ và Tên: <b><%=infoUser.NameUT%></b></p> 
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6"> 
                                <p>Vị trí ứng Tuyển : <b><%=infoUser.vitriungtuyen%></b> </p>
                            </div>
                            <div class="col-md-6">
                                <p>Thời gian phỏng vấn vào lúc :<b>  9:00 </b> Ngày :<b><%=infoUser.DateTime%></b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>Phỏng Vấn Viên :<b> Lê Đức Anh</b></p>
                        <!-- <p>Phỏng Vấn Viên :<b> <%=infoUser.Interview.NameInterviewer%></b></p> -->
                    </div>
                </div>
                <table style="width:100%;border-collapse:collapse;border:none;">
                    <tbody>
                        <tr>
                            <td colspan="6"
                                style="width:100%;border:solid #003366 1.0pt;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <strong>I. Đ&Aacute;NH GI&Aacute; <span style="color:black;">CỦA PHỎNG VẤN
                                            VI&Ecirc;N</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2"
                                style="width:267.65pt;border-top:none;border-left:  solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>Ti&ecirc;u ch&iacute; đ&aacute;nh gi&aacute; phỏng vấn</strong></p>
                            </td>
                            <td colspan="5"
                                style="width:265.5pt;border-top:none;border-left:  none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>Mức độ đ&aacute;nh gi&aacute;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>1</strong></p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>2</strong></p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>3</strong></p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>4</strong></p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>5</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>Khả năng chuyên môn, nghiệp vụ</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_major == "1"){%>
                                        <input hidden id="point1" value="1" />
                                    <strong>X</strong>
                                     <%}else{%>   
                                        <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_major == "2"){%>
                                        <input hidden id="point1" value="2" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                        <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_major == "3"){%>
                                        <input hidden id="point1" value="3" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                        <%}%>
                                </p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_major == "4"){%>
                                        <input hidden id="point1" value="4" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                        <%}%>
                                </p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_major == "5"){%>
                                        <input hidden id="point1" value="5" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                            Tính sáng tạo</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_creation == "1"){%>
                                        <input hidden id="point2" value="1" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_creation == "2"){%>
                                        <input hidden id="point2" value="2" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_creation == "3"){%>
                                        <input hidden id="point2" value="3" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_creation == "4"){%>
                                        <input hidden id="point2" value="4" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_creation == "5"){%>
                                        <input hidden id="point2" value="5" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>Tinh
                                            thần tr&aacute;ch nhiệm</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_mission == "1"){%>
                                        <input hidden id="point3" value="1" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_mission == "2"){%>
                                        <input hidden id="point3" value="2" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_mission == "3"){%>
                                        <input hidden id="point3" value="3" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_mission == "4"){%>
                                        <input hidden id="point3" value="4" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_mission == "5"){%>
                                        <input hidden id="point3" value="5" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>Tinh
                                            thần học hỏi</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_learning == "1"){%>
                                        <input hidden id="point4" value="1" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_learning == "2"){%>
                                        <input hidden id="point4" value="2" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_learning == "3"){%>
                                        <input hidden id="point4" value="3" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_learning == "4"){%>
                                        <input hidden id="point4" value="4" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_learning == "5"){%>
                                        <input hidden id="point4" value="5" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                            Th&aacute;i độ t&iacute;ch cực, ph&ugrave; hợp với văn h&oacute;a c&ocirc;ng
                                            ty</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_positive == "1"){%>
                                        <input hidden id="point5" value="1" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_positive == "2"){%>
                                        <input hidden id="point5" value="2" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_positive == "3"){%>
                                        <input hidden id="point5" value="3" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_positive == "4"){%>
                                        <input hidden id="point5" value="4" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <%if(infoUser.Interview.point_interview.point_positive == "5"){%>
                                        <input hidden id="point5" value="5" />
                                        <strong>X</strong>
                                         <%}else{%>   
                                            <strong>&nbsp;</strong>
                                    <%}%>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border:solid #003366 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>Tổng cộng</strong></p>
                            </td>
                            <td colspan="5"
                                style="width:265.5pt;border-top:none;border-left:  none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong id="sum_point"></strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:-4.25pt;'>
                    <em><br>&nbsp;Ghi ch&uacute;: Mức độ đ&aacute;nh gi&aacute; từ 1 đến 5 theo ti&ecirc;u ch&iacute; từ
                        thấp đến cao.</em></p>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:-4.25pt;'>&nbsp;</p>
                <table style="border-collapse:collapse;border:none;">
                    <tbody>
                        <tr>
                            <td
                                style="width:100%;border:solid #003366 1.0pt;border-right:  none;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:14.4pt;">
                                <p
                                    style='width:100%;margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <strong>II. <span style="color:black;">&Yacute; KIẾN CỦA PHỎNG VẤN
                                            VI&Ecirc;N</span></strong></p>
                            </td>
                            <td style="width:100%;border:solid #003366 1.0pt;border-left:  none;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:14.4pt;">
                               
                             <p style='width:100%;margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:100%;border:solid #003366 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:70.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <%-infoUser.Interview.CommentInterview%></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:100%;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:none;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:14.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <strong><span style="color:black;">III. KẾT QUẢ PHỎNG VẤN</span></strong></p>
                            </td>
                            <td
                                style="width:201.25pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:14.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:533.4pt;border-top:none;border-left:  solid #003366 1.0pt;border-bottom:none;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:28.75pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    &nbsp;</p>
                                <%if(infoUser.Interview.ResultInterview == "Pass"){%>
                                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <input checked type="checkbox">&nbsp;Ph&ugrave; hợp</p>
                                <%}else{%>
                                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                        <input type="checkbox">&nbsp;Ph&ugrave; hợp</p>
                                <%}%>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:533.4pt;border-top:none;border-left:  solid #003366 1.0pt;border-bottom:none;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.05pt;">
                                <%if(infoUser.Interview.ResultInterview == "Fail" ||infoUser.Interview.ResultInterview == "Pending" ){%>
                                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <input checked type="checkbox">&nbsp;Kh&ocirc;ng ph&ugrave; hợp</p>
                                <%}else{%>
                                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                        <input type="checkbox">&nbsp;Kh&ocirc;ng ph&ugrave; hợp</p>
                                <%}%>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:533.4pt;border-top:none;border-left:  solid #003366 1.0pt;border-bottom:none;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:38.6pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:150%;'>
                                    Thời gian nhận việc đề xuất: <b><%=infoUser.Interview.TrainingDay%></b>
                           </p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:150%;'>
                                    Lương đề xuất: 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:533.4pt;border:solid #003366 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:3.5pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    &nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
                <table style="width:100%;margin-left:-8.8pt;border-collapse:collapse;border:none;">
                    <tbody>
                        <tr>
                            <td style="width: 191.35pt;padding: 0cm 5.4pt;vertical-align: top;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:6.0pt;text-align:center;'>
                                    <strong>BP. TUYỂN DỤNG</strong></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                               
                            </td>
                            <td style="width: 177.2pt;padding: 0cm 5.4pt;vertical-align: top;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:6.0pt;text-align:center;'>
                                    <strong>PHỎNG VẤN VI&Ecirc;N</strong></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                               
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <script>
        $(document).ready(function () {
        var point_positive = $("#point5").val()
        var point_learning = $("#point4").val()
        var point_mission = $("#point3").val()
        var point_creation = $("#point2").val()
        var point_major = $("#point1").val()
        var total = parseInt(point_major)+parseInt(point_creation)+parseInt(point_mission)+parseInt(point_learning)+parseInt(point_positive)
        $("#sum_point").html(total)
        var divToPrint=document.getElementById('DivIdToPrint');
        var newWin=window.open('','Print-Window');
        newWin.document.open();
        newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');
        newWin.document.close();
        setTimeout(function(){newWin.close();},10);
        })
      </script>
</body>

</html>