<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALAXYDR ISO 9001:2015</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://https://tuyendung.me/galaxydr-logo.jpg">
    <link rel="apple-touch-icon" href="https://https://tuyendung.me/galaxydr-logo.jpg">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>

<body>
    <% ArrRequest = Request_form.Info_request%>
    <div id="DivIdToPrint" style="right:10px;left: 10px;" class="row">
        <div style="padding-left: 3%;padding-right: 3%;" class="col-md-12">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="4"
                            style="width:103.5pt;border:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                            <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                <img width="93" src="https://galaxydr.com.vn/storage/logo/logo.png"
                                    alt="Description: logo">
                            </p>
                        </td>
                        <td rowspan="4"
                            style="width: 46.9095%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 19pt;">
                            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                <strong><span style='font-family: "Times New Roman", Times, serif;'>C&Ocirc;NG
                                        TY
                                        TNHH
                                        DV
                                        GALAXY
                                        DR&nbsp;</span></strong>
                            </p>
                            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                <span style='font-size:13px;font-family: "Times New Roman", Times, serif;'>TM01,
                                    PVL
                                    Linh
                                    T&acirc;y,
                                    Số
                                    5,
                                    Đường
                                    D1,
                                    Phường
                                    Linh
                                    T&acirc;y,
                                    Th&agrave;nh
                                    phố
                                    Thủ
                                    Đức,
                                    Tp
                                    HCM</span>
                            </p>
                            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                <span style='font-size:13px;font-family: "Times New Roman", Times, serif;'>Điện
                                    thoại:
                                    &nbsp;028
                                    73055
                                    995</span>
                            </p>
                            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                <span style='font-size:13px;font-family: "Times New Roman", Times, serif;'>Website:</span><span
                                    style="font-size:15px;">&nbsp;</span><span
                                    style='font-size:13px;font-family: "Times New Roman", Times, serif;'>www.galaxydr.com.vn</span>
                            </p>
                        </td>
                        <td
                            style="width:86.4pt;border-top:double windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                            <p
                                style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                Trang
                            </p>
                        </td>
                        <td
                            style="width: 19.7026%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                            <p
                                style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                1/1
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                            <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                <span style="font-size:13px;">Lần
                                    ban
                                    h&agrave;nh</span>
                            </p>
                        </td>
                        <td
                            style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                            <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                <span style="font-size:15px;">01</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                            <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                <span style="font-size:13px;">Ng&agrave;y
                                    ban
                                    h&agrave;nh</span>
                            </p>
                        </td>
                        <td
                            style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                            <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                <span style="font-size:15px;">20/01/2021</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="width:86.4pt;border-top:none;border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                            <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                <span style="font-size:13px;">Số
                                    hiệu</span>
                            </p>
                        </td>
                        <td
                            style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                            <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                BM
                                -
                                QT08-02
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="padding-left: 3%;padding-right: 3%;" class="col-md-12">
            <h3
                style='margin-top:12.0pt;margin-right:0cm;margin-bottom:3.0pt;margin-left:0cm;font-size:17px;font-family:"Arial",sans-serif;'>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
            </h3>
            <h1
                style="margin:0cm;text-align:center;font-size:21px;font-family: Times New Roman;font-weight:normal;text-indent:36.0pt;">
                <strong><span style='font-family: "Times New Roman", Times, serif;'>PHIẾU
                        YÊU
                        CẦU
                        TUYỂN
                        DỤNG</span></strong>
            </h1>
            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
            </p>
            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;line-height:150%;">
                <span style='font-family: "Times New Roman", Times, serif;'>Số phiếu:
                    <b>
                        <%=Request_form.Info_head._id_custom%>
                    </b></span>
            </p>
            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;line-height:150%;">
                <span style='font-family: "Times New Roman", Times, serif;'>Bộ phận yêu cầu:
                    <b>
                        <%=Request_form.Info_head.Center_send_request%>
                    </b></span>
            </p>
            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;line-height:150%;">
                <span style='font-family: "Times New Roman", Times, serif;'>Ngày gửi yêu cầu:
                    <b>
                        <%=Request_form.Info_head.Date_request%>
                    </b>
                </span>
            </p>
            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;line-height:150%;">
                <span style='font-family: "Times New Roman", Times, serif;'>Mục đích tuyển dụng:
                    <b>
                        <%=Request_form.Info_head.Purpose%>
                    </b>
                </span>
            </p>
            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                <span style='font-size:5px;font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
            </p>

            <table style="width:100%;border-collapse:collapse;border:none;">
                <thead>
                    <tr>
                        <td rowspan="2"
                            style="width:32.8pt;border:solid windowtext 1.0pt;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <span style='font-family: "Times New Roman", Times, serif;'>TT</span>
                            </p>
                        </td>
                        <td rowspan="2"
                            style="width:144.3pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <span style='font-family: "Times New Roman", Times, serif;color:black;'>Vị
                                    tr&iacute;</span>
                            </p>
                        </td>
                        <td rowspan="2"
                            style="width:77.95pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <span style='font-family: "Times New Roman", Times, serif;color:black;'>Nh&oacute;m/
                                    Ph&ograve;ng
                                    ban</span>
                            </p>
                        </td>
                        <td rowspan="2"
                            style="width:177.3pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <span style='font-family: "Times New Roman", Times, serif;color:black;'>Y&ecirc;u
                                    cầu
                                    tuyển
                                    dụng</span>
                            </p>
                        </td>
                        <td rowspan="2"
                            style="width:99.25pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <span style='font-family: "Times New Roman", Times, serif;color:black;'>Ng&agrave;y
                                    b&agrave;n
                                    giao
                                    nh&acirc;n
                                    sự</span>
                            </p>
                        </td>
                        <td rowspan="2"
                            style="width:63.75pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <span style='font-family: "Times New Roman", Times, serif;color:black;'>Số
                                    lượng</span>
                            </p>
                        </td>
                        <td rowspan="2"
                            style="width:77.95pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <span style='font-family: "Times New Roman", Times, serif;color:black;'>Ph&ecirc;
                                    duyệt</span>
                            </p>
                        </td>
                        <td rowspan="2"
                            style="width:92.15pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <span style='font-family: "Times New Roman", Times, serif;color:black;'>Ghi
                                    ch&uacute;</span>
                            </p>
                        </td>
                        <td style="height:24.95pt;border:none;">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:29.75pt;border:none;">
                            <br>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <% ArrRequest.forEach(function(item_list,index){%>
                        <tr>
                            <td
                                style="border-top:solid windowtext 1.0pt;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.35pt;">
                                <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                    <span style='font-family: "Times New Roman", Times, serif;'>
                                        <%=index+1%>
                                    </span>
                                </p>
                            </td>

                            <td
                                style="display: table-cell;width:144.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.35pt;">
                                <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                                    <span style='font-family: "Times New Roman", Times, serif;'>
                                        <%=item_list.Vacancies%>
                                    </span>
                                </p>
                            </td>
                            <td
                                style="width:77.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.35pt;">
                                <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                    <span style='font-family: "Times New Roman", Times, serif;'>
                                        <%=item_list.Group_request%>
                                    </span>
                                </p>
                            </td>
                            <td
                                style="display: table-cell;width: 177.3pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: middle;">
                                <p
                                    style="margin:0cm;font-size:16px;font-family: Times New Roman;margin-left:6.9pt;text-align:center;">
                                    <span style='font-family: "Times New Roman", Times, serif;'>
                                        <%-item_list.Recruitment_requirements%>
                                    </span>
                                </p>
                            </td>
                            <td
                                style="display: table-cell;width: 99.25pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: middle;">
                                <p
                                    style="margin:0cm;font-size:16px;font-family: Times New Roman;margin-left:6.9pt;text-align:center;">
                                    <span style='font-family: "Times New Roman", Times, serif;'>
                                        <%=item_list.Training_Day%>
                                    </span>
                                </p>
                            </td>
                            <td
                                style="display: table-cell;width: 63.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: middle;">
                                <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                    <span style='font-family: "Times New Roman", Times, serif;'>
                                        <%=item_list.Headcount%>
                                    </span>
                                </p>
                            </td>
                            <td
                                style="width: 77.95pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: middle;">
                                <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                    <span style='font-family: "Times New Roman", Times, serif;'>
                                        <%=item_list.Headcount_approve%>
                                    </span>
                                </p>
                            </td>
                            <td
                                style="width: 92.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: middle;">
                                <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                    <span style='font-family: "Times New Roman", Times, serif;'>
                                        <%=item_list.Note_Status%>
                                    </span>
                                </p>
                            </td>
                            <td style="height:26.35pt;border:none;">
                                <br>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>

        <div style="padding-left: 3%;padding-right: 3%;" class="col-md-12">
            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
            </p>
            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
            </p>
        </div>

        <div style="padding-left: 3%;padding-right: 3%;" class="col-md-12">
            <table style="width: 100%;border-collapse:collapse;border:none;">
                <tbody>
                    <tr>
                        <td
                            style="width: 150px;padding: 0cm 5.4pt;height: 119.25pt;vertical-align: top;text-align: center;">
                            <p
                                style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;text-indent:8.75pt;">
                                <strong><span style='font-family: "Times New Roman", Times, serif;color:black;'>NGƯỜI
                                        Y&Ecirc;U
                                        CẦU</span></strong>
                            </p>
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                                <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
                            </p>
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                                <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
                            </p>
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                                <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
                            </p>
                            <!-- <p style="margin:0cm;font-size:18px;font-family: Times New Roman;">
                                <span style='font-family: "Times New Roman", Times, serif;'>
                                    <h6><b>
                                            <%=Request_form.Info_confirm.Confirm_Request_Sender%>
                                        </b>
                                    </h6>
                                </span>
                            </p> -->
                        </td>
                       
                        <td
                            style="width: 150px;padding: 0cm 5.4pt;height: 119.25pt;vertical-align: top;text-align: center;">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <strong><span style='font-family: "Times New Roman", Times, serif;color:black;'>QUẢN
                                        L&Yacute; <br>
                                        BỘ
                                        PHẬN</span></strong>
                            </p>
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                                <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
                            </p>
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                                <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
                            </p>
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                                <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
                            </p>
                            <!-- <p style="margin:0cm;font-size:18px;font-family: Times New Roman;">
                                <span style='font-family: "Times New Roman", Times, serif;'>
                                    <h6><b>
                                        <%=Request_form.Info_confirm.Confirm_Director_Center%>
                                        </b>
                                    </h6>
                                </span>
                            </p> -->
                        </td>
                        
                        <td
                            style="width: 150px;padding: 0cm 5.4pt;height: 119.25pt;vertical-align: top;text-align: center">
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <strong><span style='font-family: "Times New Roman", Times, serif;color:black;'>GI&Aacute;M
                                        ĐỐC <br>BỘ PHẬN</span></strong>
                            </p>
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <strong><span style='font-family: "Times New Roman", Times, serif;color:black;'>&nbsp;</span></strong>
                            </p>
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <strong><span style='font-family: "Times New Roman", Times, serif;color:black;'>&nbsp;</span></strong>
                            </p>
                            <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                                <strong><span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span></strong>
                            </p>
                            <!-- <p style="margin:0cm;font-size:18px;font-family: Times New Roman;">
                                <span style='font-family: "Times New Roman", Times, serif;'>
                                    <h6><b>
                                        <%=Request_form.Info_confirm.Confirm_HR_Director%>
                                        </b>
                                    </h6>
                                </span>
                            </p> -->
                        </td>
                        <td
                        style="width: 150px;padding: 0cm 5.4pt;height: 119.25pt;vertical-align: top;text-align: center;">
                        <p style="margin:0cm;font-size:16px;font-family: Times New Roman;text-align:center;">
                            <strong><span style='font-family: "Times New Roman", Times, serif;color:black;'>BP.TUYỂN DỤNG <br>TIẾP NHẬN</span></strong>
                        </p>
                        <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                            <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
                        </p>
                        <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                            <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
                        </p>
                        <p style="margin:0cm;font-size:16px;font-family: Times New Roman;">
                            <span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span>
                        </p>
                        <!-- <p style="margin:0cm;font-size:18px;font-family: Times New Roman;">
                            <span style='font-family: "Times New Roman", Times, serif;'>
                                <h6><b>
                                    <%=Request_form.Info_confirm.Confirm_Recuitment_Teamleader%>
                                    </b>
                                </h6>
                            </span>
                        </p> -->
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <script>
        $(document).ready(function () {
        var divToPrint=document.getElementById('DivIdToPrint');
        var newWin=window.open('','Print-Window');
        newWin.document.open();
        newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');
        newWin.document.close();
        setTimeout(function(){newWin.close();},10);
        })
      </script>
</body>

</html>