<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Ứng Viên <%=result.DetailCV%></title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content="Việc Làm Văn Phòng" />
        <meta name="keywords" content="Hỗ trợ việc làm,Hỗ trợ tuyển dụng chuyên nghiệp , hiệu quả Liên hệ : 093.18.666.98" />
        <meta name="author" content="" />
        <meta name="MobileOptimized" content="320" />
        <link rel="stylesheet" type="text/css" href="css/animate.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
        <link rel="stylesheet" type="text/css" href="css/flaticon.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <meta property="fb:app_id" content="1902832553257404" />
        <meta property="og:image" content="https://tuyendung.me/icon_officejob/2.png" />
        <meta property="og:image:alt" content="Hỗ trợ tuyển dụng" />
        <meta property="og:description" content="Ứng tuyển vị trí : <%=result.TilteCV%>">
        <meta property="og:title" content="Ứng Viên <%=result.DetailCV%>" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" type="image/png" href="https://tuyendung.me/logo_new.jpg" />
        <script src="jquery.js"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
         crossorigin="anonymous"></script>
         <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N3Q2KXM');</script>
        <!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TFDGP1S33Z"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'G-TFDGP1S33Z');
        </script>
    </head>
    
    
    

<body>
    
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3Q2KXM" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>

<div style="background-image: url(/logo_vlvp_new_2022.png);background-size: contain;" class="jp_top_header_img_wrapper">
<div class="jp_slide_img_overlay"></div>
<div style="height: 120px;
float: left;
width: 100%;
padding-top: 0px;
border-bottom: 2px solid #ffffff21;
position: relative;
margin-top: 1%;" class="gc_main_menu_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-xs hidden-sm full_width">
                <div class="gc_header_wrapper">
                    <div class="gc_logo">
                        <a href="/"><img src="logo_vlvp_new_2022.png" style="width: 100%;height: 100%;" alt="Logo" title="VLVP"
                                class="img-responsive"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 center_responsive">
                <div class="header-area hidden-menu-bar stick" id="sticker">
            
                    <div class="mainmenu">

                        <ul class="float_left">
                            <%if(user || user !="" ){ %>
                                <li class="has-mega gc_main_navigation"><a href="/Home"
                                        class="gc_main_navigation">Trang
                                        Chủ</a>
                                </li>
                                <%}else{%>
                                    <li class="has-mega gc_main_navigation"><a href="/"
                                            class="gc_main_navigation">Trang
                                            Chủ</a>
                                    </li>
                                    <%}%>
                                        <li class="has-mega gc_main_navigation"><a href="/danh-sach-viec-lam-all"
                                                class="gc_main_navigation">Việc
                                                Làm</a>
                                        </li>

                                        <li class="has-mega gc_main_navigation"><a href="#"
                                                class="gc_main_navigation">Ứng
                                                Viên&nbsp;<i class="fa fa-angle-down"></i></a>

                                            <ul>
                                                <li class="parent"><a href="/share-cv">Chia sẻ hồ sơ</a></li>
                                                <!-- <li><a class="parent" href="/email-marketing">Email Marking</a></li> -->
                                                <li class="parent"><a href="/candidates">Ứng viên mới</a></li>
                                                <li class="parent"><a href="/khodata">Thông Tin Ứng Viên</a></li>
                                            </ul>
                                        </li>
                                        <li class="parent gc_main_navigation"><a href="/contact"
                                                class="gc_main_navigation">Liên
                                                Hệ</a></li>
                                        <li class="parent gc_main_navigation"><a href="/nop-don-ung-tuyen"
                                                class="gc_main_navigation">Ứng Tuyển</li>

                        </ul>
                    </div>
                    <header class="mobail_menu">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6">
                                    <div class="gc_logo">
                                        <a href="/"><img src="logo_vlvp_new_2022.png" style="width: 220px;height: 100%;" alt="Logo"
                                                title="Grace Church"></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <div class="cd-dropdown-wrapper">
                                        <a class="house_toggle" href="#0">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                                                x="0px" y="0px" viewBox="0 0 31.177 31.177"
                                                style="enable-background:new 0 0 31.177 31.177;"
                                                xml:space="preserve" width="25px" height="25px">
                                                <g>
                                                    <g>
                                                        <path class="menubar"
                                                            d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z"
                                                            fill="#ffffff" />
                                                    </g>
                                                    <g>
                                                        <path class="menubar"
                                                            d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z"
                                                            fill="#ffffff" />
                                                    </g>
                                                    <g>
                                                        <path class="menubar"
                                                            d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z"
                                                            fill="#ffffff" />
                                                    </g>
                                                    <g>
                                                        <path class="menubar"
                                                            d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z"
                                                            fill="#ffffff" />
                                                    </g>
                                                    <g>
                                                        <path class="menubar"
                                                            d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z"
                                                            fill="#ffffff" />
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                        <nav class="cd-dropdown">
                                            <div style="text-align: center;" class="gc_logo">
                                                <h2 style="font-size:20px;margin-top: 4%;"><a href="/">Việc Làm<span>Văn Phòng</span></a></h2>
                                                <a href="/"><img src="logo_vlvp_new_2022.png" style="width: 220px;height: 100%;" alt="Logo"
                                                        title="Grace Church"></a>
                                            </div>
                                            
                                            <a href="#0" class="cd-close">Đóng</a>
                                            <ul style="margin-top:20%" class="cd-dropdown-content">

                                                <%if(user || user !="" ){ %>
                                                    <li>
                                                        <a href="/Home">Trang Chủ</a>
                                                    </li>
                                                    <%}else{%>
                                                        <li>
                                                            <a href="/">Trang Chủ</a>
                                                        </li>
                                                        <%}%>

                                                            <li class="has-children">
                                                                <a href="candidates">Ứng Viên</a>

                                                                <ul class="cd-secondary-dropdown is-hidden">
                                                                    <li class="go-back"><a href="#0">Ứng Viên</a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="/share-cv">Chia sẻ CV</a>
                                                                    </li>
                                                                    <!-- <li><a href="/email-marketing">Email Marking</a></li> -->
                                                                    <li>
                                                                        <a href="/candidates">Ứng viên mới</a>
                                                                    </li>
                                                                    <li class="parent"><a href="/khodata">Thông Tin
                                                                            Ứng Viên</a></li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <a href="contact">Liên Hệ</a>
                                                            </li>
                                                            <li><a href="/nop-don-ung-tuyen">Ứng Tuyển</a></li>
                                                            <%if(user || user !="" ){ %>
                                                                <li><a class="btnLogin" href="/logout"><img
                                                                            style="width: 50px;height: 50px;"
                                                                            src="https://img.icons8.com/bubbles/1000/000000/exit.png" />&nbsp;
                                                                    </a></li>
                                                                <%}else{%>
                                                                    <li><button id="btnLogin" type="button"
                                                                            data-toggle="modal"
                                                                            data-target="#exampleModalCenter"><img
                                                                                style="width: 50px;height: 50px;"
                                                                                src="https://img.icons8.com/bubbles/100/000000/groups.png" />&nbsp;
                                                                            Đăng Nhập | Đăng Ký</button></li>
                                                                    <%}%>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                <div class="jp_navi_right_btn_wrapper">
                    <ul style="padding: 10px;">
                        <%if(user || user !="" ){ %>
                            <li><a href="/logout"><img style="width: 50px;height: 50px;"
                                        src="https://img.icons8.com/bubbles/1000/000000/shutdown.png" /></a></li>
                            <li><button id="test"><img style="width: 50px;height: 50px;border-radius: 10px;"
                                        src="https://img.icons8.com/bubbles/100/000000/admin-settings-male.png" />
                                </button></li>
                            <%}else{%>
                                <li><button id="btnLogin" type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter"><img style="width: 50px;height: 50px;"
                                            src="https://img.icons8.com/bubbles/100/000000/admin-settings-male.png" />&nbsp;
                                        Đăng
                                        Nhập | Đăng Ký</button></li>
                                <%}%>
                    </ul>
                </div>
            </div>
            <div class="jp_banner_heading_cont_wrapper">
                <div class="container">
                    <div class="row">
                        <% if (message.length> 0) { %>
                            <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="container">

                                    <div class="alert alert-danger alert-white rounded">
                                        <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">×</button>
                                        <div class="icon"><i class="fa fa-times-circle"></i></div>
                                        <strong>Lỗi!</strong>
                                        <%= message %>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <% if (messagee.length> 0) { %>
                                    <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="container">
                                            <div class="alert alert-danger alert-white rounded">
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-hidden="true">×</button>
                                                <div class="icon"><i class="fa fa-times-circle"></i></div>
                                                <strong>Lỗi!</strong>
                                                <%= messagee %>

                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                    </div>
                </div>
            </div>
            <div class="jp_tittle_slider_main_wrapper"
                style="float:left; width:100%; margin-top:30px;margin-bottom: 50px;">
                
            </div>
        </div>
    </div>
</div>




</div>
    <div class="jp_listing_sidebar_main_wrapper">
       <center>
            <div style="width:90%;margin-top: 2%;" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="recruiters-details">
                        <div id="infoCPN" class="items2">
                            <a href="/"><img  src="/logo_vlvp_new_2022.png" style="text-align: center;width:20%" /></a>
                            <h2 class="modal-title">Ủng hộ đội ngũ Việc Làm Văn Phòng bằng lượt click quảng cáo</h2>
                                <h3>Đó là động lực để duy trì Website </h3>
                                
                                    <h4>Xin Trân Thành Cám Ơn</h4>
                        </div>
                    </div>
            </div>
           
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                    <div class="row">
                            <div class="recruiters-details">
                                <div style="background-image: linear-gradient( to right bottom, #ffa400, #00aefd );padding: 15px 15px;"
                                    class="items2">
        
                                    <div style="overflow-y: hidden;height: 365px;" class="card" data-state="#about">
                                        <div class="card-header">
                                            <div class="card-cover"
                                                style="background-color: yellowgreen;;background-image: url('https://img.icons8.com/bubbles/10000/000000/user-male.png')">
                                            </div>
                                            <h1 class="card-fullname">
                                                <%=result.DetailCV%>
                                            </h1>
                                        </div>
        
                                        <div class="card-main">
                                            <div class="card-section is-active" id="about">
                                                <div class="row">
                                                    <div style="width: 100%;text-align: left;" class="sideber2">
                                                        <div class="widghet">
                                                            <div style="
                                                    justify-content: center;
        align-items: center;
        display: flex;
                                                    background-color: aliceblue;
                                                    font-size: 13px;
                                                    height: 80px;
                                                    box-shadow: 3px 5px #888888;
                                                    text-align: center;
                                                    margin-bottom: 10px;
                                                    border: 1px;
                                                    border-radius: 10px;" class="col-md-12">
                                                                <%if(result.TilteCV){%>
        
                                                                    <h3 style="background-image: linear-gradient( to right bottom, #ffa400, #735ce7 );"
                                                                        id="newFont">
                                                                        <%=result.TilteCV%>
                                                                    </h3>
        
        
                                                                    <%}else{%>
                                                                        <img style="width: 10%;"
                                                                            src="https://img.icons8.com/clouds/100/000000/add-bookmark.png" />
                                                                        <strong>Ứng viên đang cập
                                                                            nhật ...</strong>
        
                                                                        <%}%>
                                                            </div>
                                                            <div style="font-size: 14px;" class="col-md-12">
                                                                <%if(!result.TypeCV){%>
                                                                    <img style="width: 10%;"
                                                                        src="https://img.icons8.com/dusk/64/000000/sorting-answers.png" />
                                                                    Chuyên ngành:
                                                                    <strong>Khác</strong>
                                                                    <%}else{%>
                                                                        <img style="width: 10%;"
                                                                            src="https://img.icons8.com/dusk/64/000000/sorting-answers.png" />
                                                                        Chuyên ngành: <strong>
                                                                            <%=result.TypeCV%>
                                                                        </strong>
                                                                        <%}%>
                                                            </div>
                                                            <div style="font-size: 14px;" class="col-md-12">
                                                                <img style="width: 10%;"
                                                                    src="https://img.icons8.com/bubbles/100/000000/map.png" />Địa
                                                                chỉ: <strong>
                                                                    <%=result.Area%>
                                                                </strong>
                                                            </div>
                                                            <%if(check_render_phone == true){%>
                                                            <div style="font-size: 14px;" class="col-md-12">
                                                                <img style="width: 10%;"
                                                                    src="https://img.icons8.com/bubbles/100/000000/phone.png" />Phone<strong>
                                                                    <%=result.PhoneUngVien%>
                                                                </strong>
                                                            </div>
                                                            <%}%>
                                                            <%if(check_render_phone == false){%>
                                                                <div style="font-size: 14px;" class="col-md-12">
                                                                    <img style="width: 10%;"
                                                                        src="https://img.icons8.com/bubbles/100/000000/phone.png" />Phone :<strong>
                                                                             Liên hệ Admin để kích hoạt
                                                                    </strong>
                                                                </div>
                                                            <%}%>
                                                            <div style="font-size: 14px;" class="col-md-12">
                                                                <img style="width: 10%;"
                                                                    src="https://img.icons8.com/dusk/64/000000/date-to.png" />
                                                                Ngày: <strong>
                                                                    <%=result.DateUpload%>
                                                                </strong>
                                                            </div>
        
                                                        </div>
                                                    </div>
        
                                                </div>
                                                </br>
                                            </div>
                                        </div>
                                    </div>
                                    </br>
        
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tab-content">
                                <div id="grid" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="recruiters-details">
                                            <div style="background-image: linear-gradient( to right bottom, #ffa400, #00aefd );padding: 15px 15px;"
                                                class="items2">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                <iframe style="border:1px solid gray;border-radius: 10px;" scrolling="auto" display: block width="100%"
                                                    height="850px" src="https://tuyendung.me/files/<%=result.FileCV%>"></iframe>
                                                </div>
                                                <div class="col-md-12">
                                                        <a style="color: #000;;border: 1px solid gray; border-radius: 10px;background-image: linear-gradient( to right bottom, #FFA3EF, #00aefd );" class="contact-me"
                                                           id="newFont"
                                                            download href="https://tuyendung.me/files/<%=result.FileCV%>">Dowload</a>
                                                </div>
                    
                                            </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
               
            </div>
        </center>
        <%- include ../partials/menu.ejs%>
        <%- include ../partials/footer.ejs%>
    </div>
</body>

</html>