<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Share CV</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content="Việc Làm Văn Phòng" />
        <meta name="keywords" content="Hỗ trợ việc làm,Hỗ trợ tuyển dụng chuyên nghiệp , hiệu quả Liên hệ : 093.18.666.98" />
        <meta name="author" content="" />
        <meta name="MobileOptimized" content="320" />
        <link rel="stylesheet" type="text/css" href="css/animate.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
        <link rel="stylesheet" type="text/css" href="css/flaticon.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <meta property="fb:app_id" content="1902832553257404" />
        <meta property="og:image" content="https://tuyendung.me/icon_officejob/1.png" />
        <meta property="og:image:alt" content="Chia sẻ ứng viên tìm việc" />
        <meta property="og:description" content="Liên Hệ: 093.18.666.98 Đức Anh">
        <meta property="og:url" content="https://tuyendung.me/share-cv">
        <meta property="og:title" content="Danh Sách Ứng Viên Tìm Việc" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" type="image/png" href="https://tuyendung.me/new_office/share_cv_new.png" />
        <script src="jquery.js"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
         crossorigin="anonymous"></script>
         <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N3Q2KXM');</script>
        <!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TFDGP1S33Z"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'G-TFDGP1S33Z');
        </script>
        
    </head>
    <body>
        <style>
            .screen {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                width: 100%;
                background-color: #F5F5F5;
                box-shadow: 2px 8px 32px rgba(35, 32, 32, 0.5);
            }

            .clouds {
                position: relative;
                bottom: -155px;
                width: 243px;
                height: 172px;
                opacity: 0;
                animation: clouds 1s .8s ease-in forwards;
            }

            .plane {
                position: relative;
                width: 139px;
                height: 139px;
                opacity: 0;
                animation: plane-start .8s .8s ease-out, plane-loop 1.6s 1.6s linear infinite;

            }

            .message {
                margin-top: 72px;
                font-family: Rubik, sans-serif;
                font-size: 16px;
                color: #292929;
                letter-spacing: 1px;
                animation: message .3s 1.6s ease-in-out backwards;
            }

            .button {
                margin: 80px;
                padding: 16px 80px;
                background: #FFFFFF;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
                border-radius: 24px;
                font-family: Rubik, sans-serif;
                font-size: 16px;
                color: #7A7A7A;
                letter-spacing: -0.05px;
                text-align: center;
            }

            @keyframes plane-start {
                0% {
                    transform: translate(-80px, 130px);
                }

                50% {
                    opacity: 1
                }

                100% {
                    transform: translate(0px, 0);
                    opacity: 1
                }
            }

            @keyframes plane-loop {
                0% {
                    transform: translate(0px, 0);
                    opacity: 1
                }

                50% {
                    transform: translate(-20px, 30px);
                    opacity: 1
                }

                100% {
                    transform: translate(0px, 0);
                    opacity: 1
                }
            }

            @keyframes clouds {
                from {
                    opacity: 0
                }

                to {
                    opacity: 1
                }
            }

            @keyframes message {
                from {
                    opacity: 0
                }

                to {
                    opacity: 1
                }
            }
        </style>
        <link rel="stylesheet" type="text/css" href="css/style_II.css" />
        <link rel="stylesheet" type="text/css" href="css/responsive2.css" />
        <link rel="stylesheet" type="text/css" href="./css_search.css" />
        <div style="background-image: url(/logo_vlvp_new_2022.png);background-size: contain;"
            class="jp_top_header_img_wrapper">
            <div class="jp_slide_img_overlay"></div>
            <div style="height: 120px;
            float: left;
            width: 100%;
            padding-top: 0px;
            border-bottom: 2px solid #ffffff21;
            position: relative;
            margin-top: 1%;" class="gc_main_menu_wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-xs hidden-sm full_width">
                            <div class="gc_header_wrapper">
                                <div class="gc_logo">
                                    <a href="/"><img src="logo_vlvp_new_2022.png" style="width: 100%;height: 100%;"
                                            alt="Logo" title="VLVP" class="img-responsive"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 center_responsive">
                            <div class="header-area hidden-menu-bar stick" id="sticker">

                                <div class="mainmenu">

                                    <ul class="float_left">
                                        <%if(user || user !="" ){ %>
                                            <li class="has-mega gc_main_navigation"><a href="/Home"
                                                    class="gc_main_navigation">Trang
                                                    Chủ</a>
                                            </li>
                                            <%}else{%>
                                                <li class="has-mega gc_main_navigation"><a href="/"
                                                        class="gc_main_navigation">Trang
                                                        Chủ</a>
                                                </li>
                                                <%}%>
                                                    <li class="has-mega gc_main_navigation"><a
                                                            href="/danh-sach-viec-lam-all"
                                                            class="gc_main_navigation">Việc
                                                            Làm</a>
                                                    </li>

                                                    <li class="has-mega gc_main_navigation"><a href="#"
                                                            class="gc_main_navigation">Ứng
                                                            Viên&nbsp;<i class="fa fa-angle-down"></i></a>

                                                        <ul>
                                                            <li class="parent"><a href="/share-cv">Ứng Viên Tìm Việc</a>
                                                            </li>
                                                            <!-- <li><a class="parent" href="/email-marketing">Email Marking</a></li> -->
                                                            <li class="parent"><a href="/candidates">Ứng viên mới</a>
                                                            </li>
                                                            <li class="parent"><a href="/khodata">Thông Tin Ứng Viên</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="parent gc_main_navigation"><a href="/contact"
                                                            class="gc_main_navigation">Liên
                                                            Hệ</a></li>
                                                    <li class="parent gc_main_navigation"><a href="/nop-don-ung-tuyen"
                                                            class="gc_main_navigation">Ứng Tuyển</li>

                                    </ul>
                                </div>
                                <header class="mobail_menu">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6">
                                                <div class="gc_logo">
                                                    <a href="/"><img src="logo_vlvp_new_2022.png"
                                                            style="width: 220px;height: 100%;" alt="Logo"
                                                            title="Grace Church"></a>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6">
                                                <div class="cd-dropdown-wrapper">
                                                    <a class="house_toggle" href="#0">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                            id="Capa_1" x="0px" y="0px" viewBox="0 0 31.177 31.177"
                                                            style="enable-background:new 0 0 31.177 31.177;"
                                                            xml:space="preserve" width="25px" height="25px">
                                                            <g>
                                                                <g>
                                                                    <path class="menubar"
                                                                        d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z"
                                                                        fill="#ffffff" />
                                                                </g>
                                                                <g>
                                                                    <path class="menubar"
                                                                        d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z"
                                                                        fill="#ffffff" />
                                                                </g>
                                                                <g>
                                                                    <path class="menubar"
                                                                        d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z"
                                                                        fill="#ffffff" />
                                                                </g>
                                                                <g>
                                                                    <path class="menubar"
                                                                        d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z"
                                                                        fill="#ffffff" />
                                                                </g>
                                                                <g>
                                                                    <path class="menubar"
                                                                        d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z"
                                                                        fill="#ffffff" />
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </a>
                                                    <nav class="cd-dropdown">
                                                        <div style="text-align: center;" class="gc_logo">
                                                            <h2 style="font-size:20px;margin-top: 4%;"><a href="/">Việc
                                                                    Làm<span>Văn Phòng</span></a></h2>
                                                            <a href="/"><img src="logo_vlvp_new_2022.png"
                                                                    style="width: 220px;height: 100%;" alt="Logo"
                                                                    title="Grace Church"></a>
                                                        </div>

                                                        <a href="#0" class="cd-close">Đóng</a>
                                                        <ul style="margin-top:20%" class="cd-dropdown-content">

                                                            <%if(user || user !="" ){ %>
                                                                <li>
                                                                    <a href="/Home">Trang Chủ</a>
                                                                </li>
                                                                <%}else{%>
                                                                    <li>
                                                                        <a href="/">Trang Chủ</a>
                                                                    </li>
                                                                    <%}%>

                                                                        <li class="has-children">
                                                                            <a href="candidates">Ứng Viên</a>

                                                                            <ul class="cd-secondary-dropdown is-hidden">
                                                                                <li class="go-back"><a href="#0">Ứng
                                                                                        Viên</a>
                                                                                </li>

                                                                                <li>
                                                                                    <a href="/share-cv">Ứng Viên Tìm
                                                                                        Việc</a>
                                                                                </li>
                                                                                <!-- <li><a href="/email-marketing">Email Marking</a></li> -->
                                                                                <li>
                                                                                    <a href="/candidates">Ứng viên
                                                                                        mới</a>
                                                                                </li>
                                                                                <li class="parent"><a
                                                                                        href="/khodata">Thông Tin
                                                                                        Ứng Viên</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <a href="contact">Liên Hệ</a>
                                                                        </li>
                                                                        <li><a href="/nop-don-ung-tuyen">Ứng Tuyển</a>
                                                                        </li>
                                                                        <%if(user || user !="" ){ %>
                                                                            <li><a class="btnLogin" href="/logout"><img
                                                                                        style="width: 50px;height: 50px;"
                                                                                        src="https://img.icons8.com/bubbles/1000/000000/exit.png" />&nbsp;
                                                                                </a></li>
                                                                            <%}else{%>
                                                                                <li><button id="btnLogin" type="button"
                                                                                        data-toggle="modal"
                                                                                        data-target="#exampleModalCenter"><img
                                                                                            style="width: 50px;height: 50px;"
                                                                                            src="https://img.icons8.com/bubbles/100/000000/groups.png" />&nbsp;
                                                                                        Đăng Nhập | Đăng Ký</button>
                                                                                </li>
                                                                                <%}%>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                            <div class="jp_navi_right_btn_wrapper">
                                <ul style="padding: 10px;">
                                    <%if(user || user !="" ){ %>
                                        <li><a href="/logout"><img style="width: 50px;height: 50px;"
                                                    src="https://img.icons8.com/bubbles/1000/000000/shutdown.png" /></a>
                                        </li>
                                        <li><button id="test"><img style="width: 50px;height: 50px;border-radius: 10px;"
                                                    src="https://img.icons8.com/bubbles/100/000000/admin-settings-male.png" />
                                            </button></li>
                                        <%}else{%>
                                            <li><button id="btnLogin" style="width: 250px;" type="button" data-toggle="modal"
                                                    data-target="#exampleModalCenter"><img
                                                        style="width: 50px;height: 50px;"
                                                        src="https://img.icons8.com/bubbles/100/000000/admin-settings-male.png" />&nbsp;
                                                    Đăng
                                                    Nhập | Đăng Ký</button></li>
                                            <%}%>
                                </ul>
                            </div>
                        </div>
                        <div class="jp_banner_heading_cont_wrapper">
                            <div class="container">
                                <div class="row">
                                    <% if (message.length> 0) { %>
                                        <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="container">

                                                <div class="alert alert-danger alert-white rounded">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">×</button>
                                                    <div class="icon"><i class="fa fa-times-circle"></i></div>
                                                    <strong>Lỗi!</strong>
                                                    <%= message %>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                            <% if (messagee.length> 0) { %>
                                                <div style="margin-top: 20px;"
                                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="container">
                                                        <div class="alert alert-danger alert-white rounded">
                                                            <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true">×</button>
                                                            <div class="icon"><i class="fa fa-times-circle"></i></div>
                                                            <strong>Lỗi!</strong>
                                                            <%= messagee %>

                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                </div>
                            </div>
                        </div>
                        <div class="jp_tittle_slider_main_wrapper"
                            style="float:left; width:100%; margin-top:30px;margin-bottom: 50px;">

                        </div>
                    </div>
                </div>
            </div>




        </div>
        <div class="jp_listing_sidebar_main_wrapper">
            <center>
                <div style="width:90%;margin-top: 2%;" class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                        <div class="row">
                            <div style="background-image: linear-gradient( to right bottom, #ffa400, #00aefd );padding: 15px 15px;border-radius: 15px;"
                                class="col-md-12">
                                <center>
                                    <div class="search">
                                        <form style="padding-right: 5%;
                                            padding-left: 5%;" action="/search-candidate">
                                            <div style="justify-content: center;align-items: center;display: flex;background-color: aliceblue;font-size: 13px;height: 60px;
                                              box-shadow: 3px 5px #888888;
                                              text-align: center;
                                              margin-bottom: 10px;
                                              border: 1px;
                                              border-radius: 10px;" class="col-md-12">


                                                <h3 style="background-image: linear-gradient( to right bottom, #ffa400, #735ce7 );"
                                                    id="newFont">
                                                    Tìm Kiếm Ứng Viên
                                                </h3>
                                            </div>
                                            <select style="margin-top: 10px;" name="search">
                                                <option value="Tư Vấn-CSKH-Telesele-Sale">Tư
                                                    Vấn-CSKH-Telesele-Sale</option>
                                                <option value="Kế Toán">Kế Toán</option>
                                                <option value="Marketing & Media">Marketing & Media
                                                </option>
                                                <option value="Nhân Sự">Nhân Sự (HR)</option>
                                                <option value="Thực Phẩm">Thực Phẩm</option>
                                                <option value="Kinh Doanh">Kinh Doanh</option>
                                                <option value="Bán Hàng">Bán Hàng</option>
                                                <option value="Bất Động Sản">Bất Động Sản</option>
                                                <option value="Luật-Pháp Lý">Luật-Pháp Lý</option>
                                                <option value="Sản Xuất- Vận Hành">Sản Xuất- Vận
                                                    Hành</option>
                                                <option value="Xuất Nhập Khẩu-Ngoại Thương">Xuất
                                                    Nhập Khẩu-Ngoại Thương</option>
                                                <option value="Công Nghệ Thông Tin">Công Nghệ Thông
                                                    Tin</option>
                                                <option value="Lao Động Phổ Thông">Lao Động Phổ
                                                    Thông</option>
                                                <option value="Dịch Vụ- Bảo Hiểm">Dịch Vụ- Bảo Hiểm
                                                </option>
                                                <option value="Ngân Hàng - Tài Chính">Ngân Hàng -
                                                    Tài Chính</option>
                                                <option value="Khác">Khác</option>
                                            </select>
                                            <button type="submit" class="btn1">Tìm Kiếm</button>
                                            <style>
                                                .btn1:hover {
                                                    background-image: linear-gradient(to right bottom, #FFA4DF, #00ADF8)
                                                }
                                            </style>
                                        </form>
                                    </div>
                                </center>

                            </div>
                            <style>
                              
 .chart-wrap {
	 max-width: 900px;
	 margin: 0 auto;
	 padding: 5px;
}
 .chart-wrap .chart-title {
	 margin-bottom: 10px;
	 font-size: 16px;
	 text-align: center;
	 text-transform: uppercase;
}
 .chart-wrap .row {
	 position: relative;
	 height: 26px;
	 margin-bottom: 15px;
}
 .chart-wrap .bar-wrap {
	 position: relative;
	 background: #d7dbde;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
}
 .chart-wrap .bar-wrap .bar {
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 100%;
	 background: #f37167;
	 transition: all 1s;
	 transform: translateX(-100%);
}
 .chart-wrap .bar-wrap .bar.in {
	 transform: translateX(0%);
}
 .chart-wrap .row:nth-of-type(1) .bar {
	 transition: 1s 400ms;
}
 .chart-wrap .row:nth-of-type(2) .bar {
	 transition: 1s 600ms;
}
 .chart-wrap .row:nth-of-type(3) .bar {
	 transition: 1s 800ms;
}
 .chart-wrap .row:nth-of-type(4) .bar {
	 transition: 1s 1000ms;
}
 .chart-wrap .row:nth-of-type(5) .bar {
	 transition: 1s 1200ms;
}
 .chart-wrap .row:nth-of-type(6) .bar {
	 transition: 1s 1400ms;
}
 .chart-wrap .row:nth-of-type(7) .bar {
	 transition: 1s 1600ms;
}
 .chart-wrap .label {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 150px;
	 padding-left: 10px;
	 text-align: left;
	 font-size: 14px;
	 line-height: 26px;
	 text-transform: uppercase;
	 font-weight: bold;
	 z-index: 0;
}
 .chart-wrap .number {
	 position: absolute;
	 top: 0;
	 right: 0;
	 width: 30px;
	 padding-right: 10px;
	 font-size: 18px;
	 line-height: 26px;
	 font-weight: bold;
	 text-align: right;
	 z-index: 10;
}
 @media screen and (min-width: 800px) {
	 .chart-wrap .row {
		 padding: 0 40px 0 160px;
	}
	 .chart-wrap .label {
		 text-align: left;
		 padding-left: 0;
	}
	 .chart-wrap .number {
		 text-align: left;
		 padding-right: 0;
	}
}
                            </style>
                            <div style="background-image: linear-gradient( to right bottom, #ffa400, #00aefd );padding: 15px 15px;border-radius: 15px;margin-top: 2%;"
                                class="col-md-12">
                                <div class="chart-wrap">
                                    <div style="border-bottom:2px solid gray ;margin-bottom: 5%;margin-top: 2%;padding: 3%;">
                                    <img src="/logo_new.jpg" style="border-radius: 50%;width: 25%; text-align: center">
                                    <div id="newFont" style="color: #FFFFFF;vertical-align: middle;margin-top: 3%;" class="chart-title">
                                      Hồ Sơ OfficeJob
                                    </div>
                                  </div>
                                    <div id="dashboard-stats" class="chart bars-horizontal brand-primary">
                                        <%report_count.forEach(function(item){%>
                                      <div class="row">
                                        <p class="label"><%=item._id%></p>
                                        <div style="    margin-left: 25%;
                                        position: relative;
                                        background: #d7dbde;
                                        width: 70%;
                                        height: 100%;
                                        overflow: hidden;" class="bar-wrap">
                                          <div class="bar" data-value="<%=item.total%>"></div>
                                        </div>
                                        <span class="number"><%=item.total%></span>
                                      </div>
                                      <%})%>
                                    </div>
                                  </div>
                                  <script>
                                    (function($) {
  function generateBarGraph(wrapper) {
    // Set Up Values Array
    var values = [];

    // Get Values and save to Array
    $(wrapper + ' .bar').each(function(index, el) {
      values.push($(this).data('value'));
    });

    // Get Max Value From Array
    var max_value = Math.max.apply(Math, values);

    // Set width of bar to percent of max value
    $(wrapper + ' .bar').each(function(index, el) {
      var bar = $(this),
          value = bar.data('value'),
          percent = Math.ceil((value / max_value) * 100);

      // Set Width & Add Class
      bar.width(percent + '%');
      bar.addClass('in');
    });
  }

  // Generate the bar graph on window load...
  $(window).on('load', function(event) {
    generateBarGraph('#dashboard-stats');
  });
})(jQuery); // Fully reference jQuery after this point.
                                  </script>
                            </div>
                            <div style="background-image: linear-gradient( to right bottom, #ffa400, #00aefd );padding: 15px 15px;border-radius: 15px;margin-top: 2%;"
                            class="col-md-12">
                            <div class="chart-wrap">
                                <div style="border-bottom:2px solid gray ;margin-bottom: 5%;margin-top: 3%;padding: 3%;">
                                <img src="/logo_vlvp_new_2022.png" style="width: 70%; text-align: center">
                                <br>
                                <div id="newFont" style="color: #FFFFFF;vertical-align: middle;margin-top: 2%;" class="chart-title">
                                  OfficeJob Vị Trí
                                </div>
                              </div>
                                <div id="dashboard-stats" class="chart bars-horizontal brand-primary">
                                    <%report_area.forEach(function(item){%>
                                  <div class="row">
                                    <p class="label"><%=item._id%></p>
                                    <div style="    position: relative;
                                    background: #d7dbde;
                                    width: 85%;
                                    height: 100%;
                                    overflow: hidden;" class="bar-wrap">
                                      <div  class="bar" data-value="<%=item.total%>"></div>
                                    </div>
                                    <span style="position: absolute;
                                    top: 0;
                                    right: 15px;
                                    width: 30px;
                                    padding-right: 15px;
                                    font-size: 20px;
                                    line-height: 26px;
                                    font-weight: bold;
                                    text-align: right;
                                    z-index: 10;" class="number"><%=item.total%></span>
                                  </div>
                                  <%})%>
                                </div>
                              </div>
                        </div>
                        <div style="background-image: linear-gradient( to right bottom, #ffa400, #00aefd );padding: 15px 15px;border-radius: 15px;margin-top: 2%;"
                            class="col-md-12">
                            <div class="chart-wrap">
                                <div style="border-bottom:2px solid gray ;margin-bottom: 5%;margin-top: 3%;padding: 3%;">
                                <img src="/logo_vlvp_new_2022.png" style="width: 70%; text-align: center">
                                <br>
                                <div id="newFont" style="color: #FFFFFF;vertical-align: middle;margin-top: 2%;" class="chart-title">
                                  Top 5 Viewer
                                </div>
                              </div>
                                <div id="dashboard-stats" class="chart bars-horizontal brand-primary">
                                <%for (let i = 0; i < top_5.length; i++) {%>
                                  <div style="height:40px" class="row">
                                    <p style="margin-top:20px;color: #292929;font-size: 12px;" class="label">Vị trí: <%=top_5[i].TilteCV%></p>
                                    <p class="label"><%=top_5[i].DetailCV%></p>
                                    <div style="   position: relative;
                                    background: #d7dbde;
                                    width: 60%;
                                    height: 100%;
                                    overflow: hidden;
                                    right: 0;
                                    margin-left: 20%;" class="bar-wrap">
                                      <div  class="bar" data-value="<%=top_5[i].clicks%>"></div>
                                    </div>
                                    <span style="position: absolute;
                                    top: 0;
                                    right: 15px;
                                    width: 30px;
                                    padding-right: 15px;
                                    font-size: 20px;
                                    line-height: 26px;
                                    font-weight: bold;
                                    text-align: right;
                                    z-index: 10;" class="number"><%=top_5[i].clicks%></span>
                                  
                                   
                                  </div>
                                  <%}%>
                                </div>
                              </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="recruiters-details">
                            <div style="background-image: linear-gradient( to right bottom, #ffa400, #00aefd );padding: 15px 15px;border-radius: 15px;"
                                class="items2">
                                <div class="row">
                                    <%result.forEach(function(item){%>

                                        <div class="col-md-4">
                                            <div style="overflow-y: hidden;height: 450px;" class="card"
                                                data-state="#about">
                                                <div class="card-header">
                                                    <div class="card-cover"
                                                        style="background-color: yellowgreen;;background-image: url('https://img.icons8.com/bubbles/10000/000000/user-male.png')">
                                                    </div>
                                                    <div style="color: #FFFFFF;vertical-align: middle;margin-top: 2%;" class="chart-title">
                                                        Top 5 Viewer
                                                      </div>
                                                    <h3   style="color: #000;vertical-align: middle;white-space: normal;font-size: 24px;width: 100%;" class="card-fullname">
                                                        
                                                            <%=item.DetailCV%>
                                                         
                                                        
                                                    </h3>
                                                </div>

                                                <div class="card-main">
                                                    <div class="card-section is-active" id="about">
                                                        <div class="row">
                                                            <div style="width: 100%;text-align: left;" class="sideber2">
                                                                <div style="margin-bottom:5% ;" class="widghet">
                                                                    <div style="
                                                        justify-content: center;
    align-items: center;
    display: flex;
                                                        background-color: aliceblue;
                                                        font-size: 13px;
                                                        height: 80px;
                                                        box-shadow: 3px 5px #888888;
                                                        text-align: center;
                                                        margin-bottom: 10px;
                                                        border: 1px;
                                                        border-radius: 10px;" class="col-md-12">
                                                                        <%if(item.TilteCV){%>

                                                                            <h3 style="background-image: linear-gradient( to right bottom, #ffa400, #735ce7 );"
                                                                                id="newFont">
                                                                                <%=item.TilteCV%>
                                                                            </h3>


                                                                            <%}else{%>
                                                                                <img style="width: 10%;"
                                                                                    src="https://img.icons8.com/clouds/100/000000/add-bookmark.png" />
                                                                                <strong>Ứng viên đang cập
                                                                                    nhật ...</strong>

                                                                                <%}%>
                                                                    </div>
                                                                    <div style="font-size: 14px;" class="col-md-12">
                                                                        <%if(!item.TypeCV){%>
                                                                            <img style="width: 10%;"
                                                                                src="https://img.icons8.com/dusk/64/000000/sorting-answers.png" />
                                                                            Chuyên ngành:
                                                                            <strong>Khác</strong>
                                                                            <%}else{%>
                                                                                <img style="width: 10%;"
                                                                                    src="https://img.icons8.com/dusk/64/000000/sorting-answers.png" />
                                                                                Chuyên ngành: <strong>
                                                                                    <%=item.TypeCV%>
                                                                                </strong>
                                                                                <%}%>
                                                                    </div>
                                                                    <div style="font-size: 14px;" class="col-md-12">
                                                                        <img style="width: 10%;"
                                                                            src="https://img.icons8.com/bubbles/100/000000/map.png" />Địa
                                                                        chỉ: <strong>
                                                                            <%=item.Area%>
                                                                        </strong>
                                                                    </div>
                                                                    <div style="font-size: 14px;" class="col-md-12">
                                                                        <img style="width: 10%;"
                                                                            src="https://img.icons8.com/dusk/64/000000/date-to.png" />
                                                                        Ngày: <strong>
                                                                            <%=item.DateUpload%>
                                                                        </strong>
                                                                    </div>

                                                                </div>

                                                                <center>
                                                                    <button style="border-radius:15px;width: 80%;font-size: 16px;
                                                                    font-weight: 600;margin-top: 5px;" class="contact-me"
                                                                                type="button"
                                                                                onclick="location.href=`/<%=item.url_short%>`">
                                                                                Xem thông tin ứng viên
                                                                            </button>
                                                                 
                                                                   

                                                                </center>
                                                            </div>

                                                        </div>
                                                        </br>
                                                    </div>
                                                </div>
                                            </div>
                                            </br>
                                        </div>
                                        <%})%>
                                </div>
                            </div>
                        </div>
                        <div class="recruiters-details">
                            <div id="infoCPN" class="items2">
                                <div style="margin-top: 2%; margin-bottom: 3%;"
                                    class="pager_wrapper gc_blog_pagination">
                                    <ul class="pagination">
                                        <li><a style="width:150px ;" type="button" id="previous">Trang Trước</a>
                                        </li>
                                    </ul>
                                    <ul id="list" class="pagination">
                                    </ul>
                                    <ul class="pagination">
                                        <li><a style="width:150px ;" type="button" id="next">Trang Sau</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>

            </center>
            <%- include ../partials/footer.ejs%>
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
     crossorigin="anonymous"></script>
<!-- Share-cv-2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5973369736597865"
     data-ad-slot="6850801385"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

        <script src="js_seacrch.js"></script>
        <%- include ../partials/menu.ejs%>
            <%- include ../partials/footer.ejs%>
                <script>
                    var rows = jQuery('.card');
                    jQuery('#search-btn').click(function () {
                        var val = jQuery.trim(jQuery('#search').val()).replace(/ +/g, ' ').toLowerCase();
                        rows.each(function () {
                            var itemtxt = jQuery(this).text().replace(/\s+/g, ' ').toLowerCase();
                            if (itemtxt.indexOf(val) > -1) {
                                jQuery(this).show();
                            } else {
                                jQuery(this).hide();
                            }
                        });
                    });
                    var cars = "<%=sltht%>";
                    var pagesize = "<%=pagesize%>";
                    var animals = [];
                    for (i = 1; i <= cars; i++) {
                        $("#itemss").append(`<li><a  class="active" href="/share-cv?page=${i}&pagesize=${pagesize}">${i}</a></li>`)
                        var newLength = animals.push(i);
                    }
                    animals.forEach(function (item) {
                        console.log(item);
                    });
                    var pageSize = pagesize;
                    var currentPage = 1;
                    var pagedResults = [];
                    var totalResults = animals.length;
                    $(function () {
                        function updateList() {
                            var end = (currentPage * pageSize);
                            var start = (end - pageSize);
                            pagedResults = animals.slice(start, end);
                            $('#list').empty();
                            if (currentPage <= 1) {
                                $('.previous').prop("disabled", true);
                            }
                            else {
                                $('.previous').prop("disabled", false);
                            }
                            if ((currentPage * pageSize) >= totalResults) {
                                $('.next').prop("disabled", true);
                            }
                            else { $('.next').prop("disabled", false); }
                            $.each(pagedResults, function (index, obj) {
                                $('#list').append(`<li ><a href="/share-cv?page=${obj}&pagesize=${pagesize}">${obj}</a></li>`);
                            });
                        }
                        updateList();
                        $('#next').click(function () {
                            if ((currentPage * pageSize) <= totalResults) currentPage++;
                            updateList();
                        });
                        $('#previous').click(function () {
                            if (currentPage > 1) currentPage--;
                            updateList();
                        });
                    });
                </script>
    </body>

</html>