<!DOCTYPE html>

<html lang="en">

<%- include ../partials/header.ejs%>

  <body id="target">

    <%if(infoUser){%>
      <div class="row">
        <div class="col-md-12">
          <div class="recruiters-details">
            <div class="items2">
              <div class="content">
                <div class="wrapper">
                  <div class="sideber2">
                    <div class="widghet" id="formungvien">
                      <center>
                        <img style="width:10%" src="https://galaxydr.com.vn/storage/logo/logo.png">
                        <h1>Thông Tin Ứng Viên</h1>
                      </center>
                      <div style="margin-top: 20px;" class="row">
                        <div style="margin-top: 10px;" class="col-lg-6">
                          <h4><b>1.Thông Tin Cá Nhân</b></h4>
                          <div class="input-data">
                            <input readonly name="updateTenUV" type="text" value="<%-infoUser.NameUT%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Tên Ứng
                              Viên</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateNgaysinh" type="text" value="<%=infoUser.Ngaysinh%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Ngày
                              Sinh</b></label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateNoisinh" type="text" value="<%=infoUser.Noisinh%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Nơi sinh</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateQueQuan" type="text" value="<%=infoUser.Quequan%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Quê Quán</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateDCLL" type="text" value="<%=infoUser.DCLL%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Địa chỉ hộ
                              khẩu</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateDCTT" type="text" value="<%=infoUser.DCTT%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Địa chỉ thường
                              trú</label>
                          </div>
                        </div>
                        <div style="margin-top: 10px;" class="col-lg-6">
                          <h4><b>2.Liên Hệ</b></h43.T>
                            <div class="input-data">
                              <input readonly name="updateGioithieu" type="text" value="<%=infoUser.Gioithieu%>">
                              <div class="underline"></div>
                              <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Bạn biêt thông
                                tin tuyển dụng từ đâu ?</label>
                            </div>
                            <div class="input-data">
                              <input readonly name="updatePhoneUT" type="text" value="<%=infoUser.PhoneUT%>">
                              <div class="underline"></div>
                              <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Số Điện
                                Thoại</label>
                            </div>
                            <div class="input-data">
                              <input readonly name="updateEmailUT" type="text" value="<%=infoUser.EmailUT%>">
                              <div class="underline"></div>
                              <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Email</label>
                            </div>
                            <div class="input-data">
                              <input readonly name="updateCMND" type="text" value="<%=infoUser.CMND%>">
                              <div class="underline"></div>
                              <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Số CMND | CCCD
                                |
                                Hộ Chiếu</label>
                            </div>
                            <div class="input-data">
                              <input readonly name="updateNgaycapCMND" type="text" value="<%=infoUser.NgayCCMND%>">
                              <div class="underline"></div>
                              <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Ngày
                                Cấp</b></label>
                            </div>
                            <div class="input-data">
                              <input readonly name="updateNoicapCMND" type="text" value="<%=infoUser.NCCMND%>">
                              <div class="underline"></div>
                              <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Nơi
                                Cấp</label>
                            </div>
                        </div>


                      </div>






                    </div>
                  </div>
                  <br>
                  <div class="sideber2">

                    <div class="widghet" id="formungvien">
                      <div class="row">
                        <div style="margin-top: 10px;" class="col-lg-12">
                          <h4><b>3.Thông tin người thân liên hệ khi gặp trường hợp khẩn cấp</b></h4>
                        </div>

                        <div class="col-lg-6">

                          <div class="input-data">
                            <input readonly name="updateNguoithanHovaTen" type="text"
                              value="<%=infoUser.Nguoithan.hovaten%>" placeholder="Lê Văn A">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Họ và
                              Tên</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateNguoithanSDT" type="text"
                              value="<%=infoUser.Nguoithan.sodienthoai%>" placeholder="0933.412.867">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Số Điện
                              Thoại</label>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="input-data">
                            <input readonly name="updateNguoithanDiaChi" type="text"
                              value="<%=infoUser.Nguoithan.Diachi%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Địa chỉ</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateNguoithanQuanHe" type="text"
                              value="<%=infoUser.Nguoithan.Quanhe%>" placeholder="Ông,Bà,Cha,Mẹ,Anh/Chị/Em,Bạn,...">
                            <div class="underline"></div>
                            <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Quan Hệ</label>
                          </div>
                        </div>



                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="sideber2">

                    <div class="widghet" id="formungvien">
                      <div class="row">
                        <div class="col-lg-12">
                          <h4><b>4.Thông tin bổ sung hồ sơ nhận lương</b></h4>
                        </div>
                        <div class="col-lg-6">

                          <div class="input-data">
                            <input readonly name="updateSotaikhoanVPBank" type="text"
                              value="<%=infoUser.hosonhanluong.SotaikhoanVPBank%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(0px);font-size: 15px;color: #4158d0;">Số Tài Khoản Ngân
                              Hàng VP Bank</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateChinhanhVPbank" type="text"
                              value="<%=infoUser.hosonhanluong.ChinhanhVPbank%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(0px);font-size: 15px;color: #4158d0;">Chi Nhánh</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateSoBHXH" type="text" value="<%=infoUser.hosonhanluong.SoBHXH%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(0px);font-size: 15px;color: #4158d0;">Số Sổ Bảo Hiểm Xã
                              Hội</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateMaSoThue" type="text"
                              value="<%=infoUser.hosonhanluong.MaSoThue%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(0px);font-size: 15px;color: #4158d0;">Mã Số Thuế</label>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="input-data">
                            <input readonly name="updateDiachiCMND" type="text"
                              value="<%=infoUser.hosonhanluong.DiachiCMND%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(0px);font-size: 15px;color: #4158d0;">Địa chỉ trên
                              CMND</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateCMNDcu" type="text" value="<%=infoUser.hosonhanluong.CMNDcu%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(0px);font-size: 15px;color: #4158d0;">Số CMND cũ (nếu
                              có)</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateSoSoHoKhau" type="text"
                              value="<%=infoUser.hosonhanluong.SoSoHoKhau%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(0px);font-size: 15px;color: #4158d0;">Số Sổ Hộ
                              Khẩu</label>
                          </div>
                          <div class="input-data">
                            <input readonly name="updateSoCMNDChuHo" type="text"
                              value="<%=infoUser.hosonhanluong.SoCMNDChuHo%>">
                            <div class="underline"></div>
                            <label style="transform: translateY(0px);font-size: 15px;color: #4158d0;">Số CMND Chủ
                              Hộ</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="sideber2">

                    <div class="widghet" id="formungvien">
                      <div class="row">
                        <div class="col-lg-12">
                          <h4><b>5.Thông tin cam kết</b></h4>
                        </div>
                        <div class="col-lg-6">
                          <div style="height:80px;" class="input-data">
                            <input style="font-size: 15px;margin-top: 15px;" readonly name="updateNoxau" type="text"
                              value="<%=infoUser.Noxau%>">
                            <div class="underline"></div>
                            <label style="height: 80px;font-size: 15px;color: #4158d0;">Bạn có nợ xấu tại ngân hàng nhà
                              nước hoặc các tổ chức tín dụng và công ty tài chính ,ngân hàng ?</label>
                          </div>
                          <div style="height:80px;" class="input-data">
                            <input style="margin-top: 25px ;" readonly type="text" value="Tôi cam kết">
                            <div class="underline"></div>
                            <label style="height: 80px;font-size: 15px;color: #4158d0;">Công ty sẽ chấm dứt hợp đồng với
                              bạn ngay lập tức?Nếu bạn có nợ xấu</label>
                          </div>

                        </div>
                        <div class="col-lg-6">
                          <div style="height:80px;" class="input-data">
                            <input readonly name="updateTangca" type="text" value="<%=infoUser.Hoso.tangca%>">
                            <div class="underline"></div>
                            <label style="height: 80px;font-size: 15px;color: #4158d0;">Bạn có thể giành thời gian cho
                              công việc không?</label>
                          </div>
                          <div style="height:80px;" class="input-data">
                            <input style="margin-top: 25px ;" readonly readonly type="text"
                              value="Tôi đã nhận thông tin">
                            <div class="underline"></div>
                            <label style="height: 80px;font-size: 15px;color: #4158d0;">Bạn nhận thông tin:Mức
                              lương,Phúc lợi xã hội,Thời gian làm việc chưa?</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style=" margin-top: 20px;margin-bottom: 20px;" class="sideber2">
                    <div id="footerinfo" class="widghet">
                      <h4><b>6.Thông tin bổ sung</b></h4>
                      <div class="row">
                        <div id="footerinfodiv" class="col-lg-4">
                          <div class="container">
                            <div style="    margin-top: 55px;
                                    height: 75px;
                                    width: 100%;
                                    position: relative;" class="input-data">
                              <textarea readonly class="notes">
                                        <%=infoUser.hoctap%>
                                      </textarea>
                              <div class="underline"></div>
                              <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Trình
                                Độ</label>
                            </div>

                          </div>

                        </div>
                        <div id="footerinfodiv" class="col-lg-4">
                          <div class="container">
                            <div style="    margin-top: 55px;
                                    height: 75px;
                                    width: 100%;
                                    position: relative;" class="input-data">
                              <textarea readonly class="notes">
                                        <%=infoUser.Kinhnghiem%>
                                      </textarea>
                              <div class="underline"></div>
                              <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Kinh
                                Nghiệm</label>
                            </div>

                          </div>

                        </div>
                        <div id="footerinfodiv" class="col-lg-4">
                          <div class="container">
                            <div style="    margin-top: 55px;
                                    height: 75px;
                                    width: 100%;
                                    position: relative;" class="input-data">
                              <textarea readonly class="notes">
                                        <%=infoUser.Giadinh%>
                                      </textarea>
                              <div class="underline"></div>
                              <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Gia
                                Đình</label>
                            </div>

                          </div>

                        </div>


                      </div>
                    </div>
                  </div>

                  <div style=" margin-top: 20px;margin-bottom: 20px;" class="sideber2">
                    <div class="widghet" id="formungvien">
                      <div class="row">
                        <div class="col-lg-12">
                          
                            <div class="input-data">
                              <%if(infoUser.hosonhanluong.chukydientu){%>
                                <input readonly name="updatechukydientu" type="text"
                                  value="<%=infoUser.hosonhanluong.chukydientu%>">
                                <%}else{%>
                                  <input readonly name="updatechukydientu" type="text" value="<%=infoUser.NameUT%>">
                                  <%}%>
                                    <div class="underline"></div>
                                    <label style="transform: translateY(-15px);font-size: 15px;color: #4158d0;">Xác nhận
                                      Ứng
                                      Viên.</label>
                            </div>

                          
                        </div>




                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center;margin-bottom: 5%;" class="col-md-12">
          <img style="width:20%" src="https://tuyendung.me/logo_new.jpg">
        </div>
      </div>
      <%}%>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
  </body>
  <style>
    #footerinfo {
      margin-left: 50px;
      margin-right: 150px;
      height: 370px;
    }

    textarea.notes {
      border: 1px solid black;
      border-radius: 10px;
      width: 25%;
      height: 250px;
      line-height: 31px;
      background-image: -webkit-linear-gradient(left, white 0, transparent 0), -webkit-linear-gradient(right, white 0, transparent 0), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
      background-repeat: repeat-y;
      background-size: 100% 100%, 100% 100%, 100% 31px;
      background-attachment: local;
    }

    #formungvien{
      margin-left: 50px;
      margin-right: 150px;
    }
  
    @media only screen and (max-width: 570px) {
      textarea.notes {
        width: 100%;
      }
      #formungvien{
      margin-left: 0px;
      margin-right: 0px;
    }
      #footerinfo {
        margin-left: 0px;
      margin-right: 0px;
        height: 1000px;
      }

      #footerinfodiv {
       
        height: 300px;
      }

      ;

    }

    @media only screen and (max-width: 992px) {
      .sideber2.mr-r {
        margin-top: 50px;
      }
    }

    .sideber2 .widghet {
      border: 1px solid #cbcbcb;
      margin: 0 0 30px;
      padding: 30px;
      -webkit-transition: 0 5px 10px rgba(0, 0, 0, 0.1);
      -moz-transition: 0 5px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
    }

    .sideber2 .widghet.clearw {
      padding: 0;
      border: 0;
      box-shadow: none;
    }

    .sideber2 .widghet:last-child {
      margin: -5px;
    }

    .sideber2 .widghet h3 {
      font-size: 22px;
      text-transform: uppercase;
      color: #3c3c3c;
      font-weight: 500;
    }

    .sideber2 .widghet .contact-form form fieldset {
      display: block;
      margin: 0 0 20px;
    }

    .sideber2 .widghet .contact-form form fieldset input {
      width: 100%;
      line-height: 50px;
      height: 50px;
      border: 1px solid #cbcbcb;
      background: #fff;
      padding: 0 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    .sideber2 .widghet .contact-form form fieldset input:focus {
      border: 1px solid #ff8707;
    }

    .sideber2 .widghet .contact-form form fieldset textarea {
      width: 100%;
      height: 100px;
      border: 1px solid #cbcbcb;
      background: #fff;
      padding: 10px 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    .sideber2 .widghet .contact-form form fieldset textarea:focus {
      border: 1px solid #ff8707;
    }

    .sideber2 .widghet .contact-form form button {
      display: block;
      width: 100%;
    }

    .sideber2 .widghet .contact-form p {
      margin: 10px 0 0;
      color: #c3c3c3;
    }

    .sideber2 .widghet .contact-form p a {
      color: #ff8707;
    }

    .sideber2 .widghet .user_profle {
      text-align: center;
      display: block;
    }

    .sideber2 .widghet .user_profle figure {
      width: 128px;
      height: 128px;
      overflow: hidden;
      vertical-align: middle;
      margin: 0 auto 18px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
    }

    .sideber2 .widghet .user_profle figure img {
      width: 100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    .sideber2 .widghet .user_profle .contents {
      display: block;
    }

    .sideber2 .widghet .user_profle .contents h4 {
      display: block;
      margin: 0 0 10px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .sideber2 .widghet .user_profle .contents h4 a {
      color: #ff8707;
    }

    .sideber2 .widghet .user_profle .contents em {
      color: #3c3c3c;
      font-weight: 500;
      font-size: 15px;
    }

    .sideber2 .widghet .user_profle .contents p {
      margin: 0 0 15px;
      font-size: 13px;
    }

    .sideber2 .widghet .user_profle .contents ul {
      display: block;
      margin: 0 0 25px;
    }

    .sideber2 .widghet .user_profle .contents ul li {
      display: inline-block;
      padding: 0 4px;
    }

    .sideber2 .widghet .user_profle .contents ul li a {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 38px;
      font-size: 24px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
    }

    .sideber2 .widghet .user_profle .contents ul li:first-child {
      padding-left: 0;
    }

    .sideber2 .widghet .user_profle .contents ul li:last-child {
      padding-right: 0;
    }

    .sideber2 .widghet .user_profle .contents ul li:nth-child(1) a {
      border: 1px solid #375d93;
      color: #375d93;
    }

    .sideber2 .widghet .user_profle .contents ul li:nth-child(2) a {
      border: 1px solid #43afe9;
      color: #43afe9;
    }

    .sideber2 .widghet .user_profle .contents ul li:nth-child(3) a {
      border: 1px solid #007eb3;
      color: #007eb3;
    }

    .sideber2 .widghet .user_profle .contents .dnr {
      display: inline-block;
      padding: 0 15px;
      line-height: 44px;
      height: 46px;
      font-size: 16px;
      color: #82d808;
      border: 1px solid #82d808;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
    }

    .sideber2 .widghet .user_profle .contents .dnr:hover {
      background: #82d808;
      color: #fff;
    }

    .sideber2 .widghet.frd {
      box-shadow: none;
      background: #f1f1f1;
    }

    .sideber2 .widghet.frd .featureds {
      display: block;
      position: relative;
    }

    .sideber2 .widghet.frd .featureds .list-arc {
      overflow: hidden;
      vertical-align: middle;
      margin: 0 0 28px;
    }

    .sideber2 .widghet.frd .featureds .list-arc .ico {
      float: left;
      width: 36px;
      font-size: 18px;
    }

    .sideber2 .widghet.frd .featureds .list-arc .con {
      float: right;
      width: calc(100% - 36px);
    }

    .sideber2 .widghet.frd .featureds .list-arc .con h4 {
      font-size: 15px;
      color: #3c3c3c;
      margin: 0 0 5px;
      font-weight: 500;
    }

    .sideber2 .widghet.frd .featureds .list-arc .con p {
      margin: 0;
      color: #848484;
      font-size: 15px;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(1) .ico {
      color: #237be7;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(2) .ico {
      color: #08c478;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(3) .ico {
      color: #ff8707;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(4) .ico {
      color: #f9a718;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(5) .ico {
      color: #6dd8ad;
    }

    .sideber2 .widghet.frd .featureds button {
      display: block;
      width: 100%;
    }

    .btn1 {
      display: inline-block;
      position: relative;
      padding: 0 24px;
      line-height: 46px;
      height: 46px;
      background: #80d214;
      text-transform: capitalize;
      font-weight: 400;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
    }

    @media only screen and (max-width: 480px) {
      .btn1 {
        font-size: 17px;
        height: 42px;
        line-height: 42px;
      }
    }

    .btn1:hover {
      background: #ff8707;
      color: #fff;
    }
  </style>
  <style>
    .nice-select {
      line-height: 30px;
    }

    .table td,
    .table th {
      padding: .15rem;
      vertical-align: top;
      border-top: 1px solid #eceeef;
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

    .center {

      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      transform: scale(0);
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;
      padding: 2rem 2rem 0rem 2rem;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0px 6px 20px rgb(0 0 0 / 50%);
      animation: show_modal 0.6s forwards;
    }

    .center.hide {
      animation: hide_modal 0.6s forwards;
    }

    @keyframes show_modal {
      0% {
        transform: scale(0);
      }

      60% {
        transform: scale(1.15);
      }

      80% {
        transform: scale(0.95);
      }

      100% {
        transform: scale(1);
      }
    }

    @keyframes hide_modal {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1.3);
      }

      100% {
        transform: scale(0);
      }
    }

    .center p {
      text-align: center;
      line-height: 1.5rem;
      letter-spacing: 0.01rem;
    }

    .center big {
      display: inline-block;
      margin-bottom: 0.8rem;
    }

    .center button:hover {
      background-color: #ff8707;
    }

    .mb-1 {
      margin-bottom: 0.5rem;
    }

    .mb-4 {
      margin-bottom: 4rem;
    }
  </style>
  <style>
    textarea {
      resize: none !important;
      overflow: auto !important;
      outline: none;
      box-shadow: none !important;
    }

    textarea:hover {
      resize: none !important;
      overflow: auto !important;
      outline: none;
      box-shadow: none !important;
    }

    .notes {
      border: 1px solid black;
      border-radius: 10px;
      width: 200px;
      height: 190px;
      line-height: 31px;
      background-image: -webkit-linear-gradient(left, white 0, transparent 0), -webkit-linear-gradient(right, white 0, transparent 0), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
      background-repeat: repeat-y;
      background-size: 100% 100%, 100% 100%, 100% 31px;
      background-attachment: local;
    }
  </style>
  <style>
    .wrapper .input-data {
      margin-top: 85px;
      height: 40px;
      width: 100%;
      position: relative;
    }

    .wrapper .input-data input {

      height: 100%;
      width: 100%;
      border: none;
      font-size: 17px;
      border-bottom: 2px solid silver;
    }

    .input-data input:focus~label,
    .input-data input:valid~label {

      transform: translateY(-20px);
      font-size: 15px;
      color: #4158d0;
    }

    .wrapper .input-data label {

      position: absolute;
      bottom: 25px;
      left: 0;
      color: grey;
      pointer-events: none;
      transition: all 0.3s ease;
    }

    .input-data .underline {
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
    }

    .input-data .underline:before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background: #4158d0;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
    }

    .input-data input:focus~.underline:before,
    .input-data input:valid~.underline:before {
      transform: scaleX(1);
    }
  </style>
  <style>
    * {

      box-sizing: border-box;

    }



    .card {

      max-width: 340px;
      overflow-y: auto;

      position: relative;

      z-index: 1;

      overflow-x: hidden;

      background-color: white;

      display: -webkit-box;

      display: flex;

      -webkit-transition: 0.3s;

      transition: 0.3s;

      -webkit-box-orient: vertical;

      -webkit-box-direction: normal;

      flex-direction: column;

      border-radius: 10px;

      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);

    }

    .card[data-state="#about"] {

      height: 600px;

    }

    .card[data-state="#about"] .card-main {

      padding-top: 0;

    }

    .card[data-state="#contact"] {

      height: 430px;

    }

    .card[data-state="#experience"] {

      height: 550px;

    }

    .card.is-active .card-header {

      height: 80px;

    }

    .card.is-active .card-cover {

      height: 100px;

      top: -50px;

    }

    .card.is-active .card-avatar {

      -webkit-transform: none;

      transform: none;

      left: 20px;

      width: 50px;

      height: 50px;

      bottom: 10px;

    }

    .card.is-active .card-fullname,

    .card.is-active .card-jobtitle {

      left: 86px;

      -webkit-transform: none;

      transform: none;

    }

    .card.is-active .card-fullname {

      bottom: 18px;

      font-size: 19px;

    }

    .card.is-active .card-jobtitle {

      bottom: 16px;

      letter-spacing: 1px;

      font-size: 10px;

    }

    .card-header {

      position: relative;

      display: -webkit-box;

      display: flex;

      height: 170px;

      flex-shrink: 0;

      width: 100%;

      -webkit-transition: 0.3s;

      transition: 0.3s;

    }

    .card-header * {

      -webkit-transition: 0.3s;

      transition: 0.3s;

    }

    .card-cover {

      width: 100%;

      height: 100%;

      position: absolute;

      height: 160px;

      top: -20%;

      left: 0;

      will-change: top;

      background-size: cover;

      background-position: center;

      -webkit-filter: blur(30px);

      filter: blur(30px);

      -webkit-transform: scale(1.2);

      transform: scale(1.2);

      -webkit-transition: 0.5s;

      transition: 0.5s;

    }

    .card-avatar {

      width: 100px;

      height: 100px;

      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);

      border-radius: 50%;

      -o-object-position: center;

      object-position: center;

      -o-object-fit: cover;

      object-fit: cover;

      position: absolute;

      bottom: 0;

      left: 50%;

      -webkit-transform: translateX(-50%) translateY(-64px);

      transform: translateX(-50%) translateY(-64px);

    }

    .card-fullname {

      position: absolute;

      bottom: 0;

      font-size: 22px;

      font-weight: 700;

      text-align: center;

      white-space: nowrap;

      -webkit-transform: translateY(-10px) translateX(-50%);

      transform: translateY(-10px) translateX(-50%);

      left: 50%;

    }

    .card-jobtitle {

      position: absolute;

      bottom: 0;

      font-size: 11px;

      white-space: nowrap;

      font-weight: 500;

      opacity: 0.7;

      text-transform: uppercase;

      letter-spacing: 1.5px;

      margin: 0;

      left: 50%;

      -webkit-transform: translateX(-50%) translateY(-7px);

      transform: translateX(-50%) translateY(-7px);

    }

    .card-main {

      position: relative;

      -webkit-box-flex: 1;

      flex: 1;

      display: -webkit-box;

      display: flex;

      padding-top: 10px;

      -webkit-box-orient: vertical;

      -webkit-box-direction: normal;

      flex-direction: column;

    }

    .card-subtitle {

      font-weight: 700;

      font-size: 13px;

      margin-bottom: 8px;

    }

    .card-content {

      padding: 20px;

    }

    .card-desc {

      line-height: 1.6;

      color: #636b6f;

      font-size: 14px;

      margin: 0;

      font-weight: 400;

      font-family: "DM Sans", sans-serif;

    }

    .card-social {

      display: -webkit-box;

      display: flex;

      -webkit-box-align: center;

      align-items: center;

      padding: 0 20px;

      margin-bottom: 30px;

    }

    .card-social svg {

      fill: #a5b5ce;

      width: 16px;

      display: block;

      -webkit-transition: 0.3s;

      transition: 0.3s;

    }

    .card-social a {

      color: #8797a1;

      height: 32px;

      width: 32px;

      border-radius: 50%;

      display: -webkit-inline-box;

      display: inline-flex;

      -webkit-box-align: center;

      align-items: center;

      -webkit-box-pack: center;

      justify-content: center;

      -webkit-transition: 0.3s;

      transition: 0.3s;

      background-color: rgba(93, 133, 193, 0.05);

      border-radius: 50%;

      margin-right: 10px;

    }

    .card-social a:hover svg {

      fill: #637faa;

    }

    .card-social a:last-child {

      margin-right: 0;

    }

    .card-buttons {

      display: -webkit-box;

      display: flex;

      background-color: #fff;

      margin-top: auto;

      position: -webkit-sticky;

      position: sticky;

      bottom: 0;

      left: 0;

    }

    .card-buttons button {

      -webkit-box-flex: 1;

      flex: 1 1 auto;

      -webkit-user-select: none;

      -moz-user-select: none;

      -ms-user-select: none;

      user-select: none;

      background: 0;

      font-size: 13px;

      border: 0;

      padding: 15px 5px;

      cursor: pointer;

      color: #5c5c6d;

      -webkit-transition: 0.3s;

      transition: 0.3s;

      font-family: "Jost", sans-serif;

      font-weight: 500;

      outline: 0;

      border-bottom: 3px solid transparent;

    }

    .card-buttons button.is-active,
    .card-buttons button:hover {

      color: #2b2c48;

      border-bottom: 3px solid #09f;

      background: -webkit-gradient(linear, left top, left bottom, from(rgba(127, 199, 231, 0)), color-stop(44%, rgba(207, 204, 255, 0.2)), to(rgba(211, 226, 255, 0.4)));

      background: linear-gradient(to bottom, rgba(127, 199, 231, 0) 0%, rgba(207, 204, 255, 0.2) 44%, rgba(211, 226, 255, 0.4) 100%);

    }

    .card-section {

      display: none;

    }

    .card-section.is-active {

      display: block;

      -webkit-animation: fadeIn 0.6s both;

      animation: fadeIn 0.6s both;

    }

    @-webkit-keyframes fadeIn {

      0% {

        opacity: 0;

        -webkit-transform: translatey(40px);

        transform: translatey(40px);

      }

      100% {

        opacity: 1;

      }

    }

    @keyframes fadeIn {

      0% {

        opacity: 0;

        -webkit-transform: translatey(40px);

        transform: translatey(40px);

      }

      100% {

        opacity: 1;

      }

    }

    .card-timeline {

      margin-top: 30px;

      position: relative;

    }

    .card-timeline:after {

      background: -webkit-gradient(linear, left bottom, left top, from(rgba(134, 214, 243, 0)), to(#516acc));

      background: linear-gradient(to top, rgba(134, 214, 243, 0) 0%, #516acc 100%);

      content: "";

      left: 42px;

      width: 2px;

      top: 0;

      height: 100%;

      position: absolute;

      content: "";

    }

    .card-item {

      position: relative;

      padding-left: 60px;

      padding-right: 20px;

      padding-bottom: 30px;

      z-index: 1;

    }

    .card-item:last-child {

      padding-bottom: 5px;

    }

    .card-item:after {

      content: attr(data-year);

      width: 10px;

      position: absolute;

      top: 0;

      left: 37px;

      width: 8px;

      height: 8px;

      line-height: 0.6;

      border: 2px solid #fff;

      font-size: 11px;

      text-indent: -35px;

      border-radius: 50%;

      color: rgba(134, 134, 134, 0.7);

      background: -webkit-gradient(linear, left top, left bottom, from(#a0aee3), to(#516acc));

      background: linear-gradient(to bottom, #a0aee3 0%, #516acc 100%);

    }

    .card-item-title {

      font-weight: 500;

      font-size: 14px;

      margin-bottom: 5px;

    }

    .card-item-desc {

      font-size: 13px;

      color: #6f6f7b;

      line-height: 1.5;

      font-family: "DM Sans", sans-serif;

    }

    .card-contact-wrapper {

      margin-top: 20px;

    }

    .card-contact {

      display: -webkit-box;

      display: flex;

      -webkit-box-align: center;

      align-items: center;

      font-size: 13px;

      color: #6f6f7b;

      font-family: "DM Sans", sans-serif;

      line-height: 1.6;

      cursor: pointer;

    }

    .card-contact+.card-contact {

      margin-top: 16px;

    }

    .card-contact svg {

      flex-shrink: 0;

      width: 30px;

      min-height: 34px;

      margin-right: 12px;

      -webkit-transition: 0.3s;

      transition: 0.3s;

      padding-right: 12px;

      border-right: 1px solid #dfe2ec;

    }

    .contact-me {

      border: 0;

      outline: none;

      background: linear-gradient(to right, #735ce7, #acc3ff);

      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);

      color: #fff;

      padding: 12px 16px;

      width: 100%;

      border-radius: 5px;

      margin-top: 25px;

      cursor: pointer;

      font-size: 14px;

      font-weight: 500;

      font-family: "Jost", sans-serif;

      -webkit-transition: 0.3s;

      transition: 0.3s;

    }
  </style>
  <style>
    #wrapper2 {
      margin: 0 auto;
      display: block;

    }

    .page-header {
      text-align: center;
      font-size: 1.5em;
      font-weight: normal;
      border-bottom: 1px solid #ddd;
      margin: 30px 0
    }

    #pagination {
      margin: 0;
      padding: 0;
      text-align: center
    }

    #pagination li {
      display: inline
    }

    #pagination li a {
      display: inline-block;
      text-decoration: none;
      padding: 5px 10px;
      color: #000
    }

    /* Active and Hoverable Pagination */
    #pagination li a {
      border-radius: 5px;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s
    }

    #pagination li a.active {
      background-color: #4caf50;
      color: #fff
    }

    #pagination li a:hover:not(.active) {
      background-color: #ddd;
    }

    /* border-pagination */
    .b-pagination-outer {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
      display: flex
    }

    #border-pagination {
      margin: 0 auto;
      padding: 0;
      text-align: center
    }

    #border-pagination li {
      display: inline;

    }

    #border-pagination li a {
      display: block;
      text-decoration: none;
      color: #000;
      padding: 5px 10px;
      border: 1px solid #ddd;
      float: left;

    }

    #border-pagination li a {
      -webkit-transition: background-color 0.4s;
      transition: background-color 0.4s
    }

    #border-pagination li a.active {
      background-color: #4caf50;
      color: #fff;
    }

    #border-pagination li a:hover:not(.active) {
      background: #ddd;
    }

    .wrap {
      overflow: hidden;
      margin: 10px;
    }

    .box {
      float: left;
      position: relative;
      width: 20%;
      padding-bottom: 20%;
    }

    .boxInner {
      border-radius: 5%;
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
    }

    .boxInner img {
      border-radius: 5%;
      width: 100%;
    }

    .boxInner .titleBox {
      border-radius: 5%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: -50px;
      background: #fff;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding: 10px;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }

    section.no-touch .boxInner:hover .titleBox,
    section.touch .boxInner.touchFocus .titleBox {
      border-radius: 5%;
      margin-bottom: 0;
    }

    @media only screen and (max-width : 480px) {

      /* Smartphone view: 1 tile */
      .box {
        width: 100%;
        padding-bottom: 100%;
      }
    }

    @media only screen and (max-width : 650px) and (min-width : 481px) {

      /* Tablet view: 2 tiles */
      .box {
        width: 50%;
        padding-bottom: 50%;
      }
    }

    @media only screen and (max-width : 1050px) and (min-width : 651px) {

      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
    }

    @media only screen and (max-width : 1290px) and (min-width : 1051px) {

      /* Medium desktop: 4 tiles */
      .box {
        width: 25%;
        padding-bottom: 25%;
      }
    }
  </style>
  <style>
    @media only screen and (max-width: 992px) {
      .sideber2.mr-r {
        margin-top: 50px;
      }
    }

    .sideber2 .widghet {

      margin-right: 25px;
      border: 1px solid #cbcbcb;
      margin: 0 0 30px;
      padding: 30px;
      -webkit-transition: 0 5px 10px rgba(0, 0, 0, 0.1);
      -moz-transition: 0 5px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
    }

    .sideber2 .widghet.clearw {
      padding: 0;
      border: 0;
      box-shadow: none;
    }

    .sideber2 .widghet:last-child {
      margin: -5px;
    }

    .sideber2 .widghet h3 {
      font-size: 22px;
      text-transform: uppercase;
      color: #3c3c3c;
      font-weight: 500;
    }

    .sideber2 .widghet .contact-form form fieldset {
      display: block;
      margin: 0 0 20px;
    }

    .sideber2 .widghet .contact-form form fieldset input {
      width: 100%;
      line-height: 50px;
      height: 50px;
      border: 1px solid #cbcbcb;
      background: #fff;
      padding: 0 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    .sideber2 .widghet .contact-form form fieldset input:focus {
      border: 1px solid #ff8707;
    }

    .sideber2 .widghet .contact-form form fieldset textarea {
      width: 100%;
      height: 100px;
      border: 1px solid #cbcbcb;
      background: #fff;
      padding: 10px 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    .sideber2 .widghet .contact-form form fieldset textarea:focus {
      border: 1px solid #ff8707;
    }

    .sideber2 .widghet .contact-form form button {
      display: block;
      width: 100%;
    }

    .sideber2 .widghet .contact-form p {
      margin: 10px 0 0;
      color: #c3c3c3;
    }

    .sideber2 .widghet .contact-form p a {
      color: #ff8707;
    }

    .sideber2 .widghet .user_profle {
      text-align: center;
      display: block;
    }

    .sideber2 .widghet .user_profle figure {
      width: 128px;
      height: 128px;
      overflow: hidden;
      vertical-align: middle;
      margin: 0 auto 18px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
    }

    .sideber2 .widghet .user_profle figure img {
      width: 100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    .sideber2 .widghet .user_profle .contents {
      display: block;
    }

    .sideber2 .widghet .user_profle .contents h4 {
      display: block;
      margin: 0 0 10px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .sideber2 .widghet .user_profle .contents h4 a {
      color: #ff8707;
    }

    .sideber2 .widghet .user_profle .contents em {
      color: #3c3c3c;
      font-weight: 500;
      font-size: 15px;
    }

    .sideber2 .widghet .user_profle .contents p {
      margin: 0 0 15px;
      font-size: 13px;
    }

    .sideber2 .widghet .user_profle .contents ul {
      display: block;
      margin: 0 0 25px;
    }

    .sideber2 .widghet .user_profle .contents ul li {
      display: inline-block;
      padding: 0 4px;
    }

    .sideber2 .widghet .user_profle .contents ul li a {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 38px;
      font-size: 24px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
    }

    .sideber2 .widghet .user_profle .contents ul li:first-child {
      padding-left: 0;
    }

    .sideber2 .widghet .user_profle .contents ul li:last-child {
      padding-right: 0;
    }

    .sideber2 .widghet .user_profle .contents ul li:nth-child(1) a {
      border: 1px solid #375d93;
      color: #375d93;
    }

    .sideber2 .widghet .user_profle .contents ul li:nth-child(2) a {
      border: 1px solid #43afe9;
      color: #43afe9;
    }

    .sideber2 .widghet .user_profle .contents ul li:nth-child(3) a {
      border: 1px solid #007eb3;
      color: #007eb3;
    }

    .sideber2 .widghet .user_profle .contents .dnr {
      display: inline-block;
      padding: 0 15px;
      line-height: 44px;
      height: 46px;
      font-size: 16px;
      color: #82d808;
      border: 1px solid #82d808;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
    }

    .sideber2 .widghet .user_profle .contents .dnr:hover {
      background: #82d808;
      color: #fff;
    }

    .sideber2 .widghet.frd {
      box-shadow: none;
      background: #f1f1f1;
    }

    .sideber2 .widghet.frd .featureds {
      display: block;
      position: relative;
    }

    .sideber2 .widghet.frd .featureds .list-arc {
      overflow: hidden;
      vertical-align: middle;
      margin: 0 0 28px;
    }

    .sideber2 .widghet.frd .featureds .list-arc .ico {
      float: left;
      width: 36px;
      font-size: 18px;
    }

    .sideber2 .widghet.frd .featureds .list-arc .con {
      float: right;
      width: calc(100% - 36px);
    }

    .sideber2 .widghet.frd .featureds .list-arc .con h4 {
      font-size: 15px;
      color: #3c3c3c;
      margin: 0 0 5px;
      font-weight: 500;
    }

    .sideber2 .widghet.frd .featureds .list-arc .con p {
      margin: 0;
      color: #848484;
      font-size: 15px;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(1) .ico {
      color: #237be7;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(2) .ico {
      color: #08c478;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(3) .ico {
      color: #ff8707;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(4) .ico {
      color: #f9a718;
    }

    .sideber2 .widghet.frd .featureds .list-arc:nth-child(5) .ico {
      color: #6dd8ad;
    }

    .sideber2 .widghet.frd .featureds button {
      display: block;
      width: 100%;
    }

    .btn1 {
      display: inline-block;
      position: relative;
      padding: 0 24px;
      line-height: 46px;
      height: 46px;
      background: #80d214;
      text-transform: capitalize;
      font-weight: 400;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
    }

    @media only screen and (max-width: 480px) {
      .btn1 {
        font-size: 17px;
        height: 42px;
        line-height: 42px;
      }
    }

    .btn1:hover {
      background: #ff8707;
      color: #fff;
    }
  </style>

</html>